* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media (max-width: 1024px) {
    html {
      font-size: 15px; } }
  @media (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media (max-width: 480px) {
    html {
      font-size: 12px; } }

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #333; }

.main-inner {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

ul[class], ol[class] {
  list-style: none;
  padding: 0;
  margin: 0; }

h1[class], h2[class], h3[class], h4[class], h5[class] {
  margin-top: 0; }

.uppercase {
  text-transform: uppercase; }

img {
  max-width: 100%;
  display: block; }

input, button, textarea, select {
  font: inherit; }

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

.content-wrap {
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .content-wrap {
      padding: 0 10px; } }

.no-scroll {
  overflow: hidden; }

.link {
  color: #022ea9; }
  .link:hover {
    text-decoration: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 100; }
  @media (max-width: 768px) {
    .header {
      padding: 20px 30px; } }
  @media (max-width: 480px) {
    .header {
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.9); } }

.name {
  font-size: 1.5rem; }

.email {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 0.875rem; }
  .email_wrap {
    overflow: hidden;
    position: relative; }
  .email_title {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.6, 0.25, 0, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.6, 0.25, 0, 1);
    -o-transition: transform 0.4s cubic-bezier(0.6, 0.25, 0, 1);
    transition: transform 0.4s cubic-bezier(0.6, 0.25, 0, 1);
    transition: transform 0.4s cubic-bezier(0.6, 0.25, 0, 1), -webkit-transform 0.4s cubic-bezier(0.6, 0.25, 0, 1);
    display: block; }
  .email_title:after {
    content: attr(data-attr);
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.5S;
    -o-transition: 0.5S;
    transition: 0.5S;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: translateY(104%);
    -ms-transform: translateY(104%);
    transform: translateY(104%); }
  .email:hover .email_title {
    -webkit-transform: translateY(-104%);
    -ms-transform: translateY(-104%);
    transform: translateY(-104%); }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px; }
  @media (max-width: 768px) {
    .footer {
      padding: 20px 30px; } }
  @media (max-width: 480px) {
    .footer {
      padding: 12px 20px 8px 20px;
      background-color: rgba(255, 255, 255, 0.9); } }

.social-links_item {
  text-decoration: none;
  margin-right: 20px; }
  @media (max-width: 480px) {
    .social-links_item {
      margin-right: 14px; } }
  .social-links_item:last-child {
    margin-right: 0; }
  .social-links_item:hover svg path {
    fill: #022ea9; }
  @media (max-width: 480px) {
    .social-links_item svg {
      width: 20px;
      height: 20px; } }
  .social-links_item svg path {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.main {
  padding: 100px 50px; }
  @media (max-width: 768px) {
    .main {
      padding: 100px 30px; } }
  @media (max-width: 480px) {
    .main {
      padding: 80px 20px; } }

.section-works {
  max-width: 834px;
  margin: 0 auto; }

.title {
  font-size: 3rem;
  text-transform: uppercase; }

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.work {
  text-decoration: none;
  color: #333;
  width: 48%;
  display: block;
  margin-bottom: 100px; }
  @media (max-width: 480px) {
    .work {
      margin-bottom: 50px; } }
  .work:hover {
    color: #022ea9; }
    .work:hover img {
      -webkit-filter: blur(2px);
      filter: blur(2px); }
  .work_img {
    height: 300px;
    width: 100%;
    background-color: #cfcfcf;
    margin-bottom: 25px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }
    @media (max-width: 768px) {
      .work_img {
        height: 220px; } }
    @media (max-width: 480px) {
      .work_img {
        height: 120px;
        margin-bottom: 15px; } }
    .work_img img {
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center; }
  .work_title {
    margin-bottom: 10px;
    font-size: 1.125rem; }
    @media (max-width: 480px) {
      .work_title {
        margin-bottom: 5px; } }
  .work_subtitle {
    font-size: 1rem; }

/*# sourceMappingURL=main.css.map */
