@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;	
	color: #1e2c3c;
	background: #fcfcfc;
}
* {
	box-sizing: border-box;
}
ul {
	padding: 0px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}


.container {
    padding: 60px 20px;
    text-align: center;
}
.title {
	margin-bottom: 60px;
	font-size: 3em;
	text-transform: uppercase;
}
.works {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&--left {
		width: 36%;
	}
}
.item {
	* transition: all .5s ease;
	&__wrapper {
		position: relative;
	    overflow: hidden;
	    margin: 0px 0px 10px 10px; 
	    background: #111;
	    font-size: 1em;
	    text-align: center;
	    cursor: pointer;
	    border-radius: 5px;
	    &:hover .item__img {
	    	opacity: 0.4;
	    }
		&:hover .item__text::before,
		&:hover .item__text::after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		&:hover .item__title,
		&:hover .tags,
		&:hover .item__description {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	}
	&__img {
		display: block;
		position: absolute;
		opacity: 0.9;
		transition: opacity 0.35s;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&__text {
		padding: 1.5em;
		height: 200px;
	    color: #fff;
	    font-size: 1.25em;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    position: relative;
	    z-index: 10;
	    box-sizing: border-box;
	    &--left {
	    	padding: 5em 1em;
	    	height: 410px;
	    }
	    &--third {
	    	height: 410px;
	    }
	    &::before,
	    &::after {
	    	position: absolute;
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
	    }
	    &::before {
	    	border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			-webkit-transform: scale(0, 1);
			transform: scale(0, 1);
	    }
	    &::after {
	    	border-right: 1px solid #fff;
		    border-left: 1px solid #fff;
		    -webkit-transform: scale(1, 0);
		    transform: scale(1, 0);
		    box-sizing: border-box;
	    }

	}
	&__link {
		color: #fff;
		text-decoration: none;
	}
	&__title {
		font-weight: 400;
		padding-top: 10%;
		text-transform: uppercase;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	&__description {
		padding: 10px 2.5em;
		text-transform: uppercase;
	    opacity: 0;
	    font-family: 'Open Sans Condensed', sans-serif;
	    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	    transition: opacity 0.35s, transform 0.35s;
	    -webkit-transform: translate3d(0, 20px, 0);
	    transform: translate3d(0, 20px, 0);
	}
}

.tags {
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
	&__item {
		margin: 2px 5px 5px 0;
    	box-sizing: border-box;
		padding: 1px 6px;
		border: 1px solid #d2dae2;
		border-radius: 5px;
		white-space: nowrap;
		font-size: 11px;
	}
}

.social {
	height: 220px;
	position: fixed;
	margin-top: 30px;
	&__item {
		background: #222;
		border-bottom: 1px solid #333;
		transition: background .5s ease .300ms;
		a {
			display: block;
			width: 40px;
			color: #fff;
			padding: 10px;
			text-align: center;
		}
		&:first-child {
			border-radius: 0 5px 0 0;
			&:hover {
				background: #4078c0;
			}
		}	
		&:nth-child(2):hover {
			background: #dd4b39;
		} 
		&:nth-child(3):hover {
			background: #0088cc;
		}
		&:nth-child(4) {
			border-radius: 0 0 5px 0; 
			border-bottom: none;
			&:hover {
				background: #45668e;
			}
		}
	}
}



@media only screen and (max-width: 774px) {
		.works--right,
		.works--left,
		.works--third  {
			width: 65%;
		}
		.works__item {
			margin-bottom: 20px;
		}
}
@media only screen and (max-width: 550px) {
		.works--right,
		.works--left,
		.works--third  {
			width: 85%;
		}
}
@media only screen and (max-width: 410px) {
		.works--right,
		.works--left,
		.works--third  {
			width: 100%;
		}
		.social {
			display: none;
		}
}
@media only screen and (max-width: 370px) {
		.container {
			padding: 10px;
		}
		.item__text--left {
	    	padding: 4em 2em;
	    }
}







