html {
	font-family: 'Varela Round', sans-serif;
}
body {
	margin: 0px;
	font-family: 'Varela Round', sans-serif;
}
a {
	color: #353535;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-wabkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #d2b44e;
}
p {
	color: #8c9398;
	font-size: 14px;
	line-height: 25px;
}
h1 {
	font-size: 2em;
	color: #f5d76e;
	font-family: 'Varela Round', sans-serif;
}
h2 {
	font-size: 15px;
	color: #353535;
	text-transform: uppercase;
	font-weight: bold;
}
h2::after{
	content: "";
	display: block;
	border: solid 2px #d2b44e;
	width: 35px;
	margin: 25px auto;
}	
ul {
	list-style: none;
}


.top-nav {
	background-color: #242830;
	margin-top: -1px;
}
.top-nav__list {
	padding: 0px;
}
.top-nav__item {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
	padding-left: 0px;
	position: relative;
}
.top-nav__item:last-child {
	border: none;
}
.top-nav__link {
	color: rgba(255, 255, 255, 0.6);
	display: block;
	padding: 20px 20px 20px 0px;
	position: relative;
}
.top-nav__link:hover, .top-nav__link:focus {
	color: rgba(255, 255, 255, 1);
}
.top-nav__indicator {
	position: absolute;
	right: 0px!important;
}
.pull {
	display: none;
}
.nav-icon {
	position: relative;
	height: 26px;
}
.nav-icon__btn {
	position: absolute;
	right: 15px;
	top: 0px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}
.nav-icon__line, .nav-icon__line:before, .nav-icon__line:after {
	content: '';
	border-radius: 1px;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		-o-border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #d2b44e;
	position: absolute;
	display: block;
	transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
}
.nav-icon__line:before {
	top: -10px;
}
.nav-icon__line:after {
	bottom: -10px;
}	
.nav-icon__btn.active .nav-icon__line {
	background-color: transparent;
}
.nav-icon__btn.active .nav-icon__line:before, .nav-icon__btn.active span:after {
	top: 0px;
}
.nav-icon__btn.active .nav-icon__line:before {
	transform: rotate(45deg) translateY(5px);
		-webkit-transform: rotate(45deg) translateY(5px); 
		-moz-transform: rotate(45deg) translateY(5px); 
		-o-transform: rotate(45deg) translateY(5px); 
}
.nav-icon__btn.active .nav-icon__line:after {
	transform: rotate(-45deg) translateY(-9px);
		-webkit-transform: rotate(-45deg) translateY(-9px); 
		-moz-transform: rotate(-45deg) translateY(-9px); 
		-o-transform: rotate(-45deg) translateY(-9px); 
	top: 10px;	
}

.main-screen {
	background: url('../img/main-screen_bg.jpg');
	background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	height: auto;
	padding: 65px 0px 300px 0px;
}
.main-screen__text {
	padding-top: 170px;
}
.main-screen__title {
	font-size: 40px;
	letter-spacing: 12px;
	margin: 10px;
	text-transform: uppercase;
}
.main-screen__title span {
	color: #fff;
	display: inline-block;
}
.main-screen__description {
	letter-spacing: 1px;
	color: #fff;
}
.main-screen__btn {
	padding: 20px 40px;
	background-color: rgba(210, 180, 78, 1);
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	margin: 60px 0px 0px;
	font-weight: bold;
	box-shadow: 0px 3px 0px 0px #7a6c3a;
		-webkit-box-shadow: 0px 3px 0px 0px #7a6c3a;	
		-moz-box-shadow: 0px 3px 0px 0px #7a6c3a;	
}
.main-screen__btn:hover, .main-screen__btn:focus {
	background: rgba(210, 180, 78, 0.6);
	color: #fff;
} 

.title-arrow {
	background: url('/img/h1-bg.png') no-repeat center bottom;
	font-size: 15px;
	text-transform: uppercase;
	color: #353535;
	letter-spacing: 1px;
	padding-bottom: 30px;
	font-weight: bold;
}
.introduction {
	background: #f3f5f8;
	padding: 90px 0px 100px;
}
.introduction__description {
	margin: 50px 0px 0px;
}

.blends {
	padding: 90px 0px 100px;
}
.blends__wrapper {
	margin-top: 70px;
}
.blends-item__icon {
	height: 175px;
	width: 175px;
	line-height: 175px;
	max-width: 100%;
	background-color: #d2b44e;
	font-size: 55px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin: 0px auto 50px;
	border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
	display: block;	
}

.opinions__wrapper {
	position: relative;
}
.opinions__text {
	position: absolute;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}
.opinions-photo {
	height: 550px;
}
.opinions-photo__block {
	width: 50%;
	height: 100%;
	z-index: 1;
	float: left;
}
.opinions-photo__img {
	background: url('/img/coffee-img.jpg') no-repeat center center;
	/*background-position: 50px 0px;*/
	height: 100%;
}
.opinions-photo__wrapper {
	width: 50%;
	height: 100%;
	background-color: #f3f5f8;
	float: right;
	z-index: 2;
}

.menu-description {
	background: url('/img/plants-bg.jpg') no-repeat center center;
	background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	background-attachment: fixed;
	padding: 50px 0px;	
}
.menu-description__title {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.menu-description__title span {
	display: block;
	font-size: 25px;
	margin-top: 20px;
}
.menu-description__btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
	background-color: rgba(210, 180, 78, 0.8);
	display: inline-block;
	margin: 10px auto 20px;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	text-align: center;	
}
.menu-description__btn:hover {
	color: #fff;
	background-color: rgba(210, 180, 78, 1);
}

.menu {
	padding: 90px 0px 100px;
}
.menu__block {
	position: relative;
	margin-bottom: 50px;
	z-index: 1;
	overflow: hidden;
}
.menu__img {
	display: block;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: calc(100% + 40px)!important;
	transition: opacity 0.35s, transform 0.35s;
		-webkit-transition: opacity 0.35s, transform 0.35s;
		-moz-transition: opacity 0.35s, transform 0.35s;
		-o-transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-40px, 0, 0);
		-webkit-transform: translate3d(-40px, 0, 0);
		-ms-transform: translate3d(-40px, 0, 0);
}
.menu__block:hover .menu__img {
	transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0)
}
.menu-overlay {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 20;
	background-color: rgba(210, 180, 78, 0.8);
	overflow: hidden;
	transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
}
.menu__block:hover .menu-overlay {
	opacity: 1;
}
.menu-overlay__link {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 47%;
	margin: 0 auto -30px auto;
	z-index: 100;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 30px;
}
.menu-overlay__link:hover {
	color: #fff;
}
.menu-overlay__link i {
	font-size: 30px;
}	

.contact {
	padding: 90px 0px 100px;
	position: relative;
	background-color: #f3f5f8;
}
.contact__wrapper {
	margin: 70px 0px;
}
.contact-block {
	background-color: #fff;
	box-shadow: 0px 3px 0px 0px #f0f2f4;
		-webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
		-moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
	padding: 20px 0px;
	margin-bottom: 20px;
	transition: all 500ms ease-in-out; 
		-webkit-transition: all 500ms ease-in-out; 
		-moz-transition: all 500ms ease-in-out; 
		-o-transition: all 500ms ease-in-out;
}
.contact-block:hover {
	box-shadow: 0px 3px 0px 0px #d2b44e;
		-webkit-box-shadow: 0px 3px 0px 0px #d2b44e;
		-moz-box-shadow: 0px 3px 0px 0px #d2b44e;
	transform: translate(0, -15px); 
		-webkit-transform: translate(0, -15px); 
		-ms-transform: translate(0, -15px); 
}
.contact-block__title {
	font-size: 20px;
}
.contact-block span {
	display: block;
	text-transform: uppercase;
	color: #d2b44e;
	font-size: 14px;
	margin-top: 15px;
}
.footer {
	background-color: #242830;
	padding: 40px 0px 30px;
}
.footer__list {
	list-style: none;
	color: #fff;
	line-height: 25px;
	text-align: left;
}
.footer__item {
	display: inline-block;
}
.footer__item::after {
	content: " |";
}
.footer__item:last-child::after {
	content: "";
}
.footer__link {
	color: #a1a9b0;
}
.animated {
	animation-duration: 3s!important;
}
.delay-05s {
	animation-delay: 0.5s;
}