* {
  padding: 0px;
  margin: 0px;
  outline: 0;
  border: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f5f5f7;
  color: #201b20; }

a {
  color: #201b20; }
  a:hover {
    text-decoration: none; }
  a:visited, a:active, a:focus {
    text-decoration: none; }

h1 {
  color: #9d0102;
  font-family: Rubik;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 21px; }

h2 {
  color: #201b20;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 14px;
  clear: both; }

p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px; }

.container {
  max-width: 1260px;
  margin: auto;
  padding-top: 21px;
  display: flex;
  flex-direction: column; }

.btn {
  background-color: #bb0203;
  color: #fff;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 400;
  background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
  background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
  background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
  font-family: Rubik;
  line-height: 18px;
  cursor: pointer;
  box-sizing: border-box; }
  .btn:hover {
    opacity: 0.8; }

.btn2 {
  width: 284px;
  height: 51px;
  box-shadow: 0 4px 0 #d9d9e0;
  border: 2px solid #9d0102;
  background-color: #ffffff;
  border-radius: 12px;
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  cursor: pointer; }
  .btn2:hover {
    opacity: 0.8; }

.header {
  display: flex; }

.header-logo {
  margin-right: 78px; }

.header-content {
  width: 78%;
  margin-top: 5px; }

.header-top {
  display: flex;
  justify-content: left;
  margin-bottom: 3px; }
  .header-top__btn {
    width: 211px;
    height: 38px; }
  .header-top__btn-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px; }
    .header-top__btn-name:before {
      content: " ";
      width: 26px;
      height: 26px;
      background-image: url(../images/phone.png);
      margin-right: 10px; }

.header-phone {
  color: #201b20;
  font-size: 36px;
  font-weight: 700;
  margin-right: 49px;
  text-decoration: none; }
  .header-phone span {
    font-size: 16px;
    color: #9d0102;
    font-weight: 400; }
    .header-phone span:before {
      content: " ";
      width: 25px;
      height: 25px;
      background-image: url(../images/phone1.png);
      margin-right: 10px;
      display: inline-block; }

.time {
  font-size: 14px;
  display: flex;
  margin-right: 48px;
  margin-top: 5px; }
  .time__img {
    width: 96px;
    height: 31px;
    margin-right: 10px; }

.header-bottom {
  margin-bottom: 20px; }
  .header-bottom__list {
    display: flex;
    justify-content: left; }
  .header-bottom__item {
    list-style: none;
    margin-right: 32px; }
  .header-bottom__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none; }
    .header-bottom__link:hover {
      text-decoration: underline; }

.nav {
  margin-bottom: 20px; }
  .nav__list {
    display: flex;
    background-image: -webkit-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
    background-image: -o-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
    background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
    border-radius: 12px;
    margin-bottom: 20px; }
  .nav__item {
    list-style: none;
    padding: 10px 5px;
    border-right: 1px solid #cecfd6;
    border-left: 1px solid #f2eff4;
    border-top: 1px solid #e1e0e6;
    width: 180px;
    text-align: center; }
    .nav__item:first-child {
      border-left: none;
      border-radius: 12px 0px 0px 0px; }
    .nav__item:last-child {
      border-right: none;
      border-radius: 0px 12px 0px 0px; }
    .nav__item.active {
      background-image: -webkit-linear-gradient(bottom, #ebebef 0%, #d9d9e0 100%);
      background-image: -o-linear-gradient(bottom, #ebebef 0%, #d9d9e0 100%);
      background-image: linear-gradient(to top, #ebebef 0%, #d9d9e0 100%); }
    .nav__item:hover {
      background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
      background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
      background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%); }
      .nav__item:hover a {
        color: #fff; }
  .nav__link {
    font-size: 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%; }
  .nav-bottom__list {
    display: flex; }
  .nav-bottom__item {
    display: flex;
    list-style: none;
    width: 240px;
    height: 70px;
    box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
    background-image: -webkit-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
    background-image: -o-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
    background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
    margin-right: 15px;
    border-radius: 12px;
    padding: 0px 20px; }
    .nav-bottom__item.active {
      box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
      border: 1px solid #d9d9e0;
      background-image: -webkit-linear-gradient(bottom, #fcfcfd 0%, #ebebef 100%);
      background-image: -o-linear-gradient(bottom, #fcfcfd 0%, #ebebef 100%);
      background-image: linear-gradient(to top, #fcfcfd 0%, #ebebef 100%); }
    .nav-bottom__item:hover {
      background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
      background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
      background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
      box-shadow: none; }
      .nav-bottom__item:hover a {
        color: #fff; }
  .nav-bottom__link {
    text-decoration: none;
    align-self: center;
    text-align: center; }

.slider__img {
  height: 330px; }
.slider__item {
  width: 1260px; }
.slider__title {
  background: rgba(145, 4, 5, 0.9);
  position: absolute;
  top: 15%;
  padding: 30px 40px;
  color: #f0f0f0;
  width: 50%; }
  .slider__title h2 {
    font-size: 33px;
    font-weight: 700;
    color: #f0f0f0;
    text-align: left;
    margin-bottom: 8px; }
    .slider__title h2:before {
      content: " ";
      width: 10px;
      height: 47px;
      background: #fff;
      display: block;
      position: absolute;
      left: 0;
      top: 20%; }
  .slider__title p {
    font-size: 33px;
    font-weight: 400; }
.slider__description {
  background: #ecebef;
  text-align: center;
  padding: 25px 51px;
  border-bottom: 2px solid #ebebef;
  box-shadow: inset 0 -2px 0 #dedee4;
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 25px; }
  .slider__description h3 {
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 400; }
  .slider__description p {
    font-size: 16px; }

.bx-wrapper {
  border: none;
  box-shadow: none;
  background-color: #f5f5f7;
  margin-bottom: 0px; }

.bx-controls-direction {
  display: none; }

.bx-pager {
  position: absolute;
  top: 303px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 15px;
  height: 15px;
  border: 3px solid #000000;
  background: #ecebef;
  border-radius: 10px;
  box-shadow: 0 0 0 3px #ecebef;
  box-sizing: border-box; }
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ad0000;
    border: 3px solid #ad0000; }

.tabs__list {
  display: flex; }
.tabs__item {
  max-width: 313px;
  height: 70px;
  box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
  background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
  margin-right: 2px;
  cursor: pointer;
  position: relative; }
  .tabs__item.active {
    background-image: -webkit-linear-gradient(bottom, #fcfcfd 0%, #ebebef 100%);
    background-image: -o-linear-gradient(bottom, #fcfcfd 0%, #ebebef 100%);
    background-image: linear-gradient(to top, #fcfcfd 0%, #ebebef 100%); }
  .tabs__item:hover {
    background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
    background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
    background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
    color: #fff;
    box-shadow: none; }
    .tabs__item:hover::after {
      border: medium solid transparent;
      content: "";
      top: 100%;
      left: 50%;
      position: absolute;
      height: 0;
      width: 0;
      border-color: #9d0103 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
      border-width: 10px;
      margin-left: -10px; }

.tab-content {
  padding: 30px;
  background: #fcfcfc;
  display: flex; }
  .tab-content__photo {
    width: 300px;
    height: 470px;
    background-color: #f5f5f5;
    border: 1px solid #dedee4;
    margin-right: 30px;
    text-align: center; }
  .tab-content__buttons {
    margin-bottom: 48px; }
  .tab-content__btn {
    width: 284px;
    height: 51px;
    box-shadow: 0 4px 0 #d9d9e0;
    margin-top: 10px;
    font-size: 20px; }
  .tab-content__photo-btn {
    width: 240px;
    height: 51px;
    box-shadow: 0 4px 0 #d9d9e0;
    margin-top: 10px;
    font-size: 20px; }
  .tab-content__btn2:after {
    content: " ";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../images/info.png);
    position: absolute;
    top: 13px;
    right: 12px; }
  .tab-content__text h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 14px; }
  .tab-content__text p {
    font-size: 16px;
    color: #484848;
    margin-bottom: 11px; }
  .tab-content__list {
    display: flex;
    margin-bottom: 17px; }
    @media only screen and (max-width: 1240px) {
      .tab-content__list {
        flex-wrap: wrap; } }
  .tab-content__item {
    width: 100px;
    height: 41px;
    box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
    background-image: -webkit-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
    background-image: -o-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
    background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
    font-size: 20px;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin-bottom: 8px; }
    .tab-content__item.active {
      box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
      border: 1px solid #d9d9e0;
      background-image: linear-gradient(to top, #fcfcfd 0%, #ebebef 100%); }
    .tab-content__item:hover {
      background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
      background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
      background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
      color: #fff;
      box-shadow: none; }
    .tab-content__item.lenght {
      width: 88px; }

.price {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
  margin-top: 24px; }
  .price__item {
    display: flex;
    margin-right: 30px;
    margin-bottom: 15px; }
    .price__item.disabled .price__text {
      color: #cacaca; }
      .price__item.disabled .price__text .number, .price__item.disabled .price__text .text {
        color: #cacaca; }
    .price__item.disabled .price__img {
      opacity: 0.2; }
    .price__item.disabled .info:after, .price__item.disabled .sale:after {
      display: none; }
  .price__img {
    width: 40px;
    margin-right: 15px;
    margin-top: 3px;
    position: relative; }
    .price__img.p1 {
      height: 31px;
      background-image: url(../images/price1.png); }
    .price__img.p2 {
      height: 36px;
      background-image: url(../images/price2.png); }
    .price__img.p3 {
      height: 40px;
      background-image: url(../images/price3.png); }
    .price__img.p4 {
      height: 37px;
      background-image: url(../images/price4.png); }
  .price__text .number {
    font-size: 36px;
    font-weight: 700;
    color: #000000; }
  .price__text .text {
    font-size: 18px;
    color: #000000;
    font-weight: 400; }

.sale:after {
  content: " ";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(../images/sale.png);
  position: absolute;
  top: -8px;
  right: -8px; }

.info:after {
  content: " ";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(../images/info.png);
  position: absolute;
  top: -8px;
  right: -8px; }

.tab-content__links {
  display: flex;
  flex-wrap: wrap; }
.tab-content__link {
  padding-top: 12px;
  box-sizing: border-box;
  position: relative;
  padding-left: 64px;
  padding-right: 22px;
  font-size: 20px; }
  .tab-content__link.test {
    width: 256px;
    height: 51px;
    box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
    background-image: -webkit-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
    background-image: -o-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
    background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
    border-radius: 12px 0px 0px 12px; }
    .tab-content__link.test:before {
      content: " ";
      display: inline-block;
      width: 28px;
      height: 30px;
      background-image: url(../images/test.png);
      position: absolute;
      top: 7px;
      left: 25px; }
    .tab-content__link.test:after {
      content: " ";
      display: inline-block;
      width: 28px;
      height: 51px;
      background-image: url(../images/link-arrow1.png);
      position: absolute;
      top: 0px;
      right: -26px;
      z-index: 1; }
    .tab-content__link.test a {
      border-bottom: 1px dashed #000;
      text-decoration: none; }
  .tab-content__link.request {
    background-color: #b80300;
    background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
    background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
    background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
    padding-left: 45px; }
    .tab-content__link.request:after {
      content: " ";
      display: inline-block;
      width: 28px;
      height: 51px;
      background-image: url(../images/link-arrow2.png);
      position: absolute;
      top: 0px;
      right: -26px; }
    .tab-content__link.request a {
      color: #fff;
      text-decoration: none; }
  .tab-content__link.delivery {
    padding-left: 85px; }
    .tab-content__link.delivery a {
      border-bottom: 1px dashed #000;
      text-decoration: none; }
      .tab-content__link.delivery a:hover {
        border-bottom: 1px solid #000; }
    .tab-content__link.delivery:before {
      content: " ";
      display: inline-block;
      width: 30px;
      height: 23px;
      background-image: url(../images/delivery.png);
      position: absolute;
      top: 11px;
      left: 40px; }
  .tab-content__link.installation a {
    border-bottom: 1px dashed #000;
    text-decoration: none; }
    .tab-content__link.installation a:hover {
      border-bottom: 1px solid #000; }
  .tab-content__link.installation:before {
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/installation.png);
    position: absolute;
    top: 11px;
    left: 20px; }

.service {
  margin-top: 30px;
  margin-bottom: 58px;
  text-align: center; }
  .service__title {
    font-size: 30px;
    margin-bottom: 24px; }
  .service__description {
    background: #fff;
    font-size: 16px;
    padding: 22px 42px;
    margin-bottom: 30px; }
  .service__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .service-item {
    list-style: none;
    background-color: #ebebef;
    box-shadow: inset 0 -2px 0 #dedee4;
    border-radius: 10px;
    width: 32%;
    margin-bottom: 30px; }
    .service-item__photo {
      width: 100%;
      height: 180px; }
    .service-item__description {
      padding: 20px 50px  18px 50px;
      font-size: 20px; }
    .service-item a {
      text-decoration: none; }

.production {
  margin-bottom: 55px; }
  .production__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px; }
  .production__text {
    display: flex;
    flex-wrap: wrap; }
  .production__photo {
    margin-right: 30px;
    border-radius: 12px;
    width: 33%;
    overflow: hidden;
    margin-right: 1%; }
  .production__description {
    font-size: 16px;
    width: 66%; }
    .production__description p {
      margin-bottom: 10px; }

.warranty {
  margin: 50px 0; }
  .warranty__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px; }
  .warranty__description {
    font-size: 16px; }

.certificates {
  margin-bottom: 50px; }
  .certificates__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px; }
  .certificates__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .certificates__item {
    border: 10px solid #fff;
    list-style: none;
    margin-bottom: 10px;
    width: 18%;
    box-sizing: border-box; }
    .certificates__item img {
      width: 100%;
      height: 100%; }

.maps {
  border: 10px solid #fff;
  margin-bottom: 50px; }
  .maps img {
    width: 100%; }

.footer {
  padding: 60px 0px;
  background-color: #dedee4;
  font-size: 16px; }
  .footer-top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px; }
    .footer-top__tel {
      color: #9d0102;
      position: relative;
      text-decoration: none; }
      .footer-top__tel:before {
        content: " ";
        display: block;
        width: 25px;
        height: 25px;
        background-image: url(../images/phone1.png);
        position: absolute;
        top: -3px;
        left: -33px; }
    .footer-top__address {
      position: relative; }
      .footer-top__address:before {
        content: " ";
        display: block;
        width: 18px;
        height: 25px;
        background-image: url(../images/address.png);
        position: absolute;
        top: -3px;
        left: -33px; }
    .footer-top__mail {
      color: #9d0102;
      border-bottom: 1px dashed #9d0102;
      position: relative;
      max-width: 162px;
      text-decoration: none; }
      .footer-top__mail:before {
        content: " ";
        display: block;
        width: 25px;
        height: 25px;
        background-image: url(../images/mail.png);
        position: absolute;
        top: -3px;
        left: -33px; }
  .footer-bottom {
    text-align: center; }

.carousel__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 24px; }

.owl-wrapper-outer {
  overflow: hidden; }

.carousel-element {
  text-align: center;
  border: 10px solid #fff;
  margin: 0 5px; }
  .carousel-element img {
    width: 100%;
    height: 100%; }

.carousel-control__prev, .carousel-control__next {
  text-decoration: none;
  color: #a50000;
  font-size: 20px;
  margin-right: 150px;
  width: 14px;
  height: 25px; }

.owl-pagination {
  text-align: center;
  margin-top: 12px; }

.owl-page {
  display: inline-block;
  margin: 10px;
  border-radius: 15px;
  width: 15px;
  height: 15px;
  border: 3px solid #292829;
  background: #fff;
  box-sizing: border-box; }

.owl-page.active {
  background: #ad0000;
  border: 3px solid #ad0000; }

.breadcrumb {
  margin-bottom: 15px; }
  .breadcrumb__list {
    display: flex; }
  .breadcrumb__item {
    list-style: none;
    font-size: 16px;
    margin-right: 5px; }
    .breadcrumb__item::before {
      content: "::";
      text-decoration: none;
      margin-right: 5px; }
    .breadcrumb__item:first-child::before {
      display: none; }
  .breadcrumb__link {
    color: #9d0102; }

.content {
  margin-bottom: 50px; }
  .content img {
    margin: 0px 30px 30px 0px;
    float: left;
    border-radius: 12px;
    max-width: 45%; }
  .content .table {
    padding: 30px;
    background: #fff;
    margin: 20px 0 40px 0; }
    .content .table table {
      width: 100%; }
    .content .table th, .content .table td {
      padding-left: 30px;
      padding-right: 30px; }
  .content__buttons {
    text-align: center;
    margin-bottom: 30px; }
  .content-block {
    background: #fff;
    padding: 40px 10px; }
    .content-block__title {
      text-align: center; }
    .content-block .tab-content__list {
      flex-wrap: nowrap; }
    .content-block .tab-content__item {
      width: 12%; }
    .content-block__table {
      display: flex;
      text-align: center;
      margin-bottom: 30px; }
      .content-block__table th {
        text-align: center; }
      .content-block__table td {
        font-size: 20px; }
      .content-block__table table {
        width: 76%; }
      .content-block__table-name {
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 15px; }
    .content-block__photo {
      width: 24%;
      overflow: hidden;
      background-color: #f5f5f5;
      border: 1px solid #dedee4; }
      .content-block__photo img {
        margin: 0px;
        float: none;
        max-width: none;
        width: 100%; }
    .content-block__buttons {
      margin-bottom: 30px; }
    .content-block__links {
      display: flex;
      flex-wrap: wrap; }

table {
  border-collapse: collapse; }
  table th {
    border: 1px solid #dfdfe4;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #ecebef;
    font-size: 14px;
    font-weight: 400;
    text-align: left; }
  table td {
    border: 1px solid #dfdfe4;
    padding-top: 1%;
    padding-bottom: 1%; }
    table td.promo {
      background: #9d0102;
      color: #fff; }
  table tr:nth-child(even) {
    background: #f4f6f7; }
  table tr:nth-child(odd) {
    background: #ffffff; }

/*
 Modal
 */
@media only screen and (min-width: 40em) {
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
    .modal-overlay.active {
      opacity: 1;
      visibility: visible; } }
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10000;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
  .modal .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s; }
    .modal .close-modal svg {
      width: 1.75em;
      height: 1.75em; }
  .modal .modal-content {
    z-index: 10000;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s; }
  .modal.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1); }
    .modal.active .modal-content {
      opacity: 1; }
    .modal.active .close-modal {
      transform: translateY(10px);
      opacity: 1; }

@media only screen and (max-width: 39.9375em) {
  h1 {
    font-size: 1.5rem; }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    transform: scale(1.1);
    padding: 0 !important; }

  .close-modal {
    right: 20px !important; } }
.modal-content {
  text-align: center; }
  .modal-content h3 {
    margin-bottom: 1rem; }
  .modal-content__form {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .modal-content__input {
    margin: 1rem 0;
    padding: 10px;
    border: 1px solid #cecfd6; }
  .modal-content__btn {
    width: 50%;
    padding: 10px 0;
    align-self: center;
    margin-top: 1rem; }

/*# sourceMappingURL=style.css.map */
