$speed: 0.6s;
$delay: ($speed * .5);
$easing: cubic-bezier(.55,0,.1,1);


* {
	padding: 0px;
	margin: 0px;
	outline: 0;
	border:0;
}
html {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Rubik', sans-serif;
	background-color: #f5f5f7;
	color: #201b20;
}
a {
	color: #201b20;	
	&:hover {
		text-decoration: none;
	}
	&:visited, &:active, &:focus {
		text-decoration: none;
	}
}
h1 {
	color: #9d0102;
	font-family: Rubik;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 21px;
}
h2 {
	color: #201b20;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 14px;
	clear: both;
}
p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 12px;
}

.container {
	max-width: 1260px;
	margin: auto;
	padding-top: 21px;
	display: flex;
	flex-direction: column;
}
.btn {
	background-color: #bb0203;
	color: #fff;
	border-radius: 12px;
	font-size: 15px;
	font-weight: 400;
    background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
    background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
    background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
    font-family: Rubik;
	line-height: 18px;
	cursor: pointer;
	box-sizing: border-box;

	&:hover {
		opacity: 0.8;
	} 
}
.btn2 {
	width: 284px;
	height: 51px;
	box-shadow: 0 4px 0 #d9d9e0;
	border: 2px solid #9d0102;
	background-color: #ffffff;
	border-radius: 12px;
	font-size: 20px;
	margin-left: 10px;
	position: relative;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	} 
}
.header {
	display: flex;
}
.header-logo {
	margin-right: 78px;
}
.header-content {
	width: 78%;
	margin-top: 5px;
}
.header-top {
	display: flex;
	justify-content: left;
	margin-bottom: 3px;

	&__btn {
		width: 211px;
		height: 38px;
	}
	&__btn-name {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0px;
		&:before {
			content: " ";
			width: 26px;
			height: 26px;
			background-image: url(../images/phone.png);
			margin-right: 10px;
		}
	}		
}
.header-phone {
	color: #201b20;
	font-size: 36px;
	font-weight: 700;
	margin-right: 49px;
	text-decoration: none;
	
	span {
		font-size: 16px;
		color: #9d0102;
		font-weight: 400;

		&:before {
			content: " ";
			width: 25px;
			height: 25px;
			background-image: url(../images/phone1.png);
			margin-right: 10px;
			display: inline-block;
		}
	} 
}
.time {
	font-size: 14px;
	display: flex;
	margin-right: 48px;
	margin-top: 5px;

	&__img {
		width: 96px;
		height: 31px;
		margin-right: 10px;
	}
}
.header-bottom {
	margin-bottom: 20px;

	&__list {
		display: flex;
		justify-content: left;
	}
	&__item {
		list-style: none;
		margin-right: 32px;
	}
	&__link {
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		} 
	}
}

.nav {
	margin-bottom: 20px;

	&__list {
		display: flex;
		background-image: -webkit-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
		background-image: -o-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
		background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
		border-radius: 12px;
		margin-bottom: 20px;
	}
	&__item {
		list-style: none;
		padding: 10px 5px;
		border-right: 1px solid #cecfd6;
		border-left: 1px solid #f2eff4;
		border-top: 1px solid #e1e0e6;
		width: 180px;
		text-align: center;
		
		&:first-child {
			border-left: none;
			border-radius: 12px 0px 0px 0px; 
		}
		&:last-child {
			border-right: none;
			border-radius: 0px 12px 0px 0px;
		}
		&.active {
			background-image: -webkit-linear-gradient(bottom, #ebebef 0%, #d9d9e0 100%);
			background-image: -o-linear-gradient(bottom, #ebebef 0%, #d9d9e0 100%);
			background-image: linear-gradient(to top, #ebebef 0%, #d9d9e0 100%);
		}
		&:hover {
			background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
			background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
			background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);			
			a {
				color: #fff;
			}
		}
	}

	&__link {
		font-size: 16px;
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
	}
	&-bottom__list {
		display: flex;
	}
	&-bottom__item {
		display: flex;
		list-style: none;
		width: 240px;
		height: 70px;
		box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
	    background-image: -webkit-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
	    background-image: -o-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
	    background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
	    margin-right: 15px;
	    border-radius: 12px;
	    padding: 0px 20px;

	    &.active {
	    	box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
	    	border: 1px solid #d9d9e0;
	    	background-image: -webkit-linear-gradient(bottom, #fcfcfd 0%, #ebebef 100%);
	    	background-image: -o-linear-gradient(bottom, #fcfcfd 0%, #ebebef 100%);
	    	background-image: linear-gradient(to top, #fcfcfd 0%, #ebebef 100%);
	    }
	    &:hover {
	    	background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
	    	background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
	    	background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
	    	box-shadow: none;
	    	a {
	    		color: #fff;
	    	}
	    }
	}
	&-bottom__link {
		text-decoration: none;
		align-self: center;
		text-align: center;
	}
}

.slider {

	&__img {
		height: 330px; 
	}
	&__item {
		width: 1260px;
	}
	&__title {
		background: rgba(145, 4, 5, 0.9);
		position: absolute;
		top:15%;
		padding: 30px 40px;
		color: #f0f0f0;
		width: 50%;

		h2 {
			font-size: 33px;
			font-weight: 700;
			color: #f0f0f0;
    		text-align: left;
    		margin-bottom: 8px;

			&:before {
				content: " ";
				width: 10px;
				height: 47px;
				background: #fff;
				display: block;
				position: absolute;
				left: 0;
				top: 20%;
			}
		}
		p {
			font-size: 33px;
			font-weight: 400;
		}
	}
	&__description {
		background: #ecebef;
		text-align: center;
		padding: 25px 51px;
		border-bottom: 2px solid #ebebef;
		box-shadow: inset 0 -2px 0 #dedee4;
		border-radius: 0px 0px 12px 12px;
		margin-bottom: 25px;

		h3 {
			font-size: 20px;
			margin-bottom: 14px;
			font-weight: 400;
		}
		p {
			font-size: 16px;
		}
	}
}


//bx-slider
.bx-wrapper {
	border: none;
	box-shadow: none;
	background-color: #f5f5f7;
	margin-bottom: 0px;
	
}
.bx-controls-direction {
	display: none;
}
.bx-pager {
	position: absolute;
	top: 303px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	width: 15px;
	height: 15px;
	border: 3px solid #000000;
	background: #ecebef;
	border-radius: 10px;
	box-shadow: 0 0 0 3px #ecebef;
	box-sizing: border-box; 

	&.active {
		background: #ad0000;
		border: 3px solid #ad0000;
	}
}
//end bx-slider

.tabs {
	&__list {
		display: flex;
	}
	&__item {
	max-width: 313px;
	height: 70px;
	box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
	background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
	margin-right: 2px;
	cursor: pointer;
	position: relative;

	&.active {
		background-image: -webkit-linear-gradient(bottom, #fcfcfd 0%, #ebebef 100%);
		background-image: -o-linear-gradient(bottom, #fcfcfd 0%, #ebebef 100%);
		background-image: linear-gradient(to top, #fcfcfd 0%, #ebebef 100%);
		}
	&:hover {
		background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
		background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
		background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
		color:#fff;
		box-shadow: none;

		&::after {
			border: medium solid transparent;
		    content: "";
		    top: 100%;
		    left: 50%;
		    position: absolute;
		    height: 0;
		    width: 0;
		    border-color: #9d0103 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
		    border-width: 10px;
		    margin-left: -10px;
			}
		}		
	}
}

.tab-content {
	padding: 30px;
	background: #fcfcfc;
	display: flex;

	&__photo {
		width: 300px;
		height: 470px;
		background-color: #f5f5f5;
		border: 1px solid #dedee4;
		margin-right: 30px;
		text-align: center;
	}
	&__buttons {
		margin-bottom: 48px;
	}
	&__btn {
	width: 284px;
	height: 51px;
	box-shadow: 0 4px 0 #d9d9e0;
	margin-top: 10px;
	font-size: 20px;
	}
	&__photo-btn {
		width: 240px;
		height: 51px;
		box-shadow: 0 4px 0 #d9d9e0;
		margin-top: 10px;
		font-size: 20px;
	}
	&__btn2 {
	}
	&__btn2:after {
		content: " ";
		display: block;
		width: 22px;
		height: 22px;
		background-image: url(../images/info.png);
		position: absolute;
		top: 13px;
		right: 12px;
	}
	&__text {
		h3 {
			font-size: 30px;
			font-weight: 400;
			margin-bottom: 14px;
		}
		p {
			font-size: 16px;
			color: #484848;
			margin-bottom: 11px;
		}
	}
	&__list {
		display: flex;
		margin-bottom: 17px;
		

		@media only screen and (max-width: 1240px) {
			flex-wrap: wrap;
		}
	}
	&__item {
		width: 100px;
		height: 41px;
		box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
		background-image: -webkit-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
		background-image: -o-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
		background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
		font-size: 20px;
		list-style: none;
		box-sizing: border-box;
		text-align: center;
		padding-top: 10px;
		margin-right: 10px;
		border-radius: 10px;
		cursor: pointer;
		position: relative;
		margin-bottom: 8px;

		&.active {
			box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
			border: 1px solid #d9d9e0;
			background-image: linear-gradient(to top, #fcfcfd 0%, #ebebef 100%);
		}
		&:hover {
			background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
			background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
			background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
			color:#fff;
			box-shadow: none;
		}
		&.lenght {
			width: 88px;
		}
	}
}

.price {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4px;
	margin-top: 24px;

	&__item {
		display: flex;
		margin-right: 30px;
		margin-bottom: 15px;

		&.disabled {
			.price__text {
				color: #cacaca;
				.number, .text {
					color: #cacaca;
				} 
			}
			.price__img {
				opacity: 0.2;
			}
			.info:after, .sale:after {
				display: none;
			}
		}
	}
	&__img {
		width: 40px;
		margin-right: 15px;
		margin-top: 3px;
		position: relative;	

		&.p1 {
			height: 31px;
			background-image: url(../images/price1.png);
		}
		&.p2 {
			height: 36px;
			background-image: url(../images/price2.png);
		}
		&.p3 {
			height: 40px;
			background-image: url(../images/price3.png);
		}
		&.p4 {
			height: 37px;
			background-image: url(../images/price4.png);
		}
	}
	&__text {
		& .number {
			font-size: 36px;
			font-weight: 700;
			color: #000000;
		}
		& .text {
			font-size: 18px;
			color: #000000;
			font-weight: 400;
		}
	}
}
.sale:after {
	content: " ";
	display: block;
	width: 22px;
	height: 22px;
	background-image: url(../images/sale.png);
	position: absolute;
	top: -8px;
	right: -8px;
}
.info:after {
	content: " ";
	display: block;
	width: 22px;
	height: 22px;
	background-image: url(../images/info.png);
	position: absolute;
	top: -8px;
	right: -8px;
}

.tab-content {
	&__links {
		display: flex;
		flex-wrap: wrap;
	}
	&__link {
		padding-top: 12px;
		box-sizing: border-box;
		position: relative;
		padding-left: 64px;
		padding-right: 22px;
		font-size: 20px;

		&.test {
			width: 256px;
			height: 51px;
			box-shadow: inset 0 2px 0 rgba(217, 217, 224, 0.75);
			background-image: -webkit-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
			background-image: -o-linear-gradient(bottom, #d9d9e0 0%, #ebebef 100%);
			background-image: linear-gradient(to top, #d9d9e0 0%, #ebebef 100%);
			border-radius: 12px 0px 0px 12px;

			&:before {
				content: " ";
				display: inline-block;
				width: 28px;
				height: 30px;
				background-image: url(../images/test.png);
				position: absolute;
				top: 7px;
				left: 25px;
			}
			&:after {
				content: " ";
				display: inline-block;
				width: 28px;
				height: 51px;
				background-image: url(../images/link-arrow1.png);
				position: absolute;
				top: 0px;
				right: -26px;
				z-index: 1;
			}
			a {
				border-bottom: 1px dashed #000;
				text-decoration: none;
			}
		}
		&.request {
			background-color: #b80300;
			background-image: -webkit-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
			background-image: -o-linear-gradient(bottom, #9d0102 0%, #c10203 100%);
			background-image: linear-gradient(to top, #9d0102 0%, #c10203 100%);
			padding-left: 45px;
			
			&:after {
				content: " ";
				display: inline-block;
				width: 28px;
				height: 51px;
				background-image: url(../images/link-arrow2.png);
				position: absolute;
				top: 0px;
				right: -26px;
			}
			a {
				color: #fff;
				text-decoration: none;
			}
		}
		&.delivery {
			padding-left: 85px;
			a {
				border-bottom: 1px dashed #000;
				text-decoration: none;

				&:hover {
					border-bottom: 1px solid #000;
				}
			}
			&:before {
				content: " ";
				display: inline-block;
				width: 30px;
				height: 23px;
				background-image: url(../images/delivery.png);
				position: absolute;
				top: 11px;
				left: 40px;
			}
		}
		&.installation {
			a {
				border-bottom: 1px dashed #000;
				text-decoration: none;

				&:hover {
					border-bottom: 1px solid #000;
				}
			}
			&:before {
				content: " ";
				display: inline-block;
				width: 30px;
				height: 30px;
				background-image: url(../images/installation.png);
				position: absolute;
				top: 11px;
				left: 20px;
			}
		}
	}
}
.service {
	margin-top: 30px;
	margin-bottom: 58px;
	text-align: center;
	&__title {
		font-size: 30px;
		margin-bottom: 24px;
	}
	&__description {
		background: #fff;
		font-size: 16px;
		padding: 22px 42px;
		margin-bottom: 30px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&-item {
		list-style: none;
		background-color: #ebebef;
		box-shadow: inset 0 -2px 0 #dedee4;
		border-radius: 10px;
		width: 32%;
		margin-bottom: 30px;

		&__photo {
			width: 100%;
			height: 180px;
		}
		&__description {
			padding: 20px 50px  18px 50px;
			font-size: 20px;
		}
		& a {
			text-decoration: none;
		}
	} 
}
.production {
	margin-bottom: 55px;
	&__title {
		font-size: 30px;
		text-align: center;
		margin-bottom: 24px;
	}
	&__text {
		display: flex;
		flex-wrap: wrap;
	}
	&__photo {
		margin-right: 30px;
		border-radius: 12px;
		width: 33%;
		overflow: hidden;
		margin-right: 1%;
	}
	&__description {
		font-size: 16px;
		width: 66%;
		p {
			margin-bottom: 10px;
		}
	}
}
.warranty {
	margin: 50px 0;
	&__title {
		font-size: 30px;
		text-align: center;
		margin-bottom: 24px;
	}
	&__description {
		font-size: 16px;
	}
}
.certificates {
	margin-bottom: 50px;
	&__title {
		font-size: 30px;
		text-align: center;
		margin-bottom: 24px;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		border: 10px solid #fff;
		list-style: none;
		margin-bottom: 10px;
		width: 18%;
		box-sizing: border-box;
		img {
			width: 100%;
			height: 100%;
		}
	}
}
.maps {
	border: 10px solid #fff;
	margin-bottom: 50px;
	img {
		width: 100%;
	}
}
.footer {
	padding: 60px 0px;
	background-color: #dedee4;
	font-size: 16px;
	&-top {
		display: flex;
		justify-content: space-around;
		margin-bottom: 60px;
		&__tel {
			color: #9d0102;
			position: relative;
			text-decoration: none;
			&:before {
				content: " ";
				display: block;
				width: 25px;
				height: 25px;
				background-image: url(../images/phone1.png);
				position: absolute;
				top: -3px;
				left: -33px;
			} 
		}
		&__address {
			position: relative;
			&:before {
				content: " ";
				display: block;
				width: 18px;
				height: 25px;
				background-image: url(../images/address.png);
				position: absolute;
				top: -3px;
				left: -33px;
			} 
		}
		&__mail {
			color: #9d0102;
			border-bottom: 1px dashed #9d0102;
			position: relative;
			max-width: 162px;
			text-decoration: none;
			&:before {
				content: " ";
				display: block;
				width: 25px;
				height: 25px;
				background-image: url(../images/mail.png);
				position: absolute;
				top: -3px;
				left: -33px;
			} 
		}
	}
	&-bottom {
		text-align: center;
	}
}

//карусель
.carousel__title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 24px;
}
.owl-wrapper-outer {
	overflow: hidden;
}
.carousel-element {
	text-align: center;
	border: 10px solid #fff;
	margin:0 5px;
	img {
		width: 100%;
		height: 100%;
	}
}
.carousel-control__prev, .carousel-control__next {
		text-decoration: none;
		color: #a50000;
		font-size: 20px;
		margin-right: 150px;
		width: 14px;
		height: 25px;
	}
.owl-pagination {
	text-align: center;
	margin-top: 12px;
}
.owl-page {
	display: inline-block;
	margin: 10px;
	border-radius: 15px;
	width: 15px;
	height: 15px;
	border: 3px solid #292829;
	background: #fff;
	box-sizing: border-box;
}
.owl-page.active {
	background: #ad0000;
	border: 3px solid #ad0000;
}
// end карусель


.breadcrumb {
	margin-bottom: 15px;
	&__list {
		display: flex;
	}
	&__item {
		list-style: none;
		font-size: 16px;
		margin-right: 5px;

		&::before {
			content: "::";
			text-decoration: none;
			margin-right: 5px;
		}
		&:first-child::before {
			display: none;
		}
	}
	&__link {
		color: #9d0102;
	}
}

.content {
	margin-bottom: 50px;

	img {
		margin: 0px 30px 30px 0px;
		float: left;
		border-radius: 12px;
		max-width: 45%;
	}
	.table {
		padding: 30px;
		background: #fff;
		margin: 20px 0 40px 0;

		table {
			width: 100%
		}
		th, td {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	&__buttons {
		text-align: center;
		margin-bottom: 30px;
	}
	&-block {
		background: #fff;
		padding: 40px 10px;
		&__title {
			text-align: center;
		}
		.tab-content__list {
			flex-wrap: nowrap;
		}
		.tab-content__item {
			width: 12%;
		}
		&__table {
			display: flex;
			text-align: center;	
			margin-bottom: 30px;
			th {
				text-align: center;
			}
			td {
				font-size: 20px;
			}
			table {
				width: 76%;
			}
			&-name {
				font-size: 30px;
				text-align: center;
				font-weight: 400;
				margin-bottom: 15px;
			}
		}
		&__photo {
			width: 24%;
			overflow: hidden;
			background-color: #f5f5f5;
			border: 1px solid #dedee4;
			img {
				margin: 0px;
				float: none;
				max-width: none;
				width: 100%;
			}
		}
		&__buttons {
			margin-bottom: 30px;
		}
		&__links {
			display: flex;
			flex-wrap: wrap;
		}	
	}
}

table {
		border-collapse: collapse;
	th {
		border: 1px solid #dfdfe4;
		padding-top: 1%;
		padding-bottom: 1%;
		background: #ecebef;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
	}
	td {
		border: 1px solid #dfdfe4;
		padding-top: 1%;
		padding-bottom: 1%;
		&.promo {
			background: #9d0102;
			color: #fff;
		}
	}
	tr {
		&:nth-child(even) {
			background: #f4f6f7;
		}
		&:nth-child(odd) {
			background: #ffffff;
		}
	}
}






/*
 Modal
 */
@media only screen and (min-width: 40em) {
  
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(#000, 0.6);
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity $speed $easing, visibility $speed $easing;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
} 

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10000;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(#000, 0.1);
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all $speed $easing;
  
  .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity $speed $easing, transform $speed $easing;
    transition-delay: $delay;
    
    svg {
      width: 1.75em;
      height: 1.75em;
    }
  } 
  
  .modal-content {
  	z-index: 10000;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity $speed $easing;
    transition-delay: $delay;
  } // content
  
  &.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    
    .modal-content {
      opacity: 1;
    }
    
    .close-modal {
      transform: translateY(10px);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 39.9375em) {
  
  h1 {
    font-size: 1.5rem;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    transform: scale(1.1);
    padding: 0 !important;
  }
  
  .close-modal {
    right: 20px !important;
  }
} // media query

.modal-content {
	text-align: center;
	h3 {
		margin-bottom: 1rem;
	}
	&__form {	
		display: flex;
		flex-direction: column;
		justify-content: center;
	}	
	&__input {
		margin: 1rem 0;
		padding: 10px;
		border: 1px solid #cecfd6;
	}
	&__btn {
		width: 50%;
		padding: 10px 0;
		align-self: center;
		margin-top: 1rem;
	}
}



 


