@font-face {
  font-family: 'AmazingGrotesk';
  src: url("../fonts/amazing-grotesk-ultra.woff") format("woff"), url("/fonts/amazing-grotesk-ultra.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Museo Cyrillic -700';
  src: url("../fonts/MuseoCyrl.woff") format("woff"), url("/fonts/MuseoCyrl.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  color: #483321;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0; }

.title {
  font-size: 38px;
  font-family: "Museo Cyrillic -700";
  position: relative;
  padding-bottom: 58px;
  margin-bottom: 90px; }
  @media (max-width: 520px) {
    .title {
      font-size: 32px;
      padding-bottom: 40px;
      margin-bottom: 60px; } }
  @media (max-width: 320px) {
    .title {
      font-size: 26px; } }
  .title:after {
    content: '';
    display: block;
    position: absolute;
    width: 52px;
    height: 4px;
    background-color: #b5c616;
    bottom: 0;
    left: 50%;
    margin-left: -26px; }

.btn {
  border-radius: 10px;
  font-family: "Museo Cyrillic -700";
  font-size: 24px;
  color: #483321;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn--gold {
    background-color: #f2c54a;
    -webkit-box-shadow: 0 5px 16px rgba(242, 197, 74, 0.64);
    box-shadow: 0 5px 16px rgba(242, 197, 74, 0.64);
    padding: 24px 42px; }
    @media (max-width: 520px) {
      .btn--gold {
        padding: 18px 45px; } }
    .btn--gold:hover {
      background-color: #f0bd32;
      -webkit-box-shadow: 0 5px 16px rgba(5, 5, 5, 0.64);
      box-shadow: 0 5px 16px rgba(5, 5, 5, 0.64); }
  .btn--green {
    color: #fff;
    background-color: #b5c616;
    padding: 15px 50px; }
    .btn--green:hover {
      background-color: #a0af13;
      -webkit-box-shadow: 0 5px 16px rgba(122, 122, 122, 0.64);
      box-shadow: 0 5px 16px rgba(122, 122, 122, 0.64); }
  .btn--white {
    background-color: #ffffff;
    padding: 15px 50px;
    -webkit-box-shadow: 0 5px 16px rgba(98, 98, 98, 0.64);
    box-shadow: 0 5px 16px rgba(98, 98, 98, 0.64); }
    .btn--white:hover {
      background-color: #f2f2f2;
      -webkit-box-shadow: 0 5px 16px rgba(5, 5, 5, 0.64);
      box-shadow: 0 5px 16px rgba(5, 5, 5, 0.64); }

.main-screen {
  background-image: url(../images/main-bg768.jpg);
  -webkit-background-size: cover;
  background-size: cover; }
  @media (min-width: 768px) {
    .main-screen {
      background-image: url(../images/main-bg.jpg); } }
  .main-screen__bg {
    background-image: url(../images/main-bg-wr.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed; }
    @media (max-width: 1100px) {
      .main-screen__bg {
        background-image: none; } }
  .main-screen-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 10px 300px;
    background-image: url(../images/mockup-phone-main.png);
    background-position: bottom right;
    background-repeat: no-repeat; }
    @media (max-width: 950px) {
      .main-screen-content {
        background-position-x: right -180px; } }
    @media (max-width: 768px) {
      .main-screen-content {
        background-image: none; } }
    @media (max-width: 520px) {
      .main-screen-content {
        padding-bottom: 200px; } }
    .main-screen-content__text-wrap {
      width: 70%; }
      @media (max-width: 950px) {
        .main-screen-content__text-wrap {
          width: 100%; } }
  .main-screen__title {
    width: 60%;
    color: #ffffff;
    font-size: 58px;
    font-family: "AmazingGrotesk"; }
    @media (max-width: 768px) {
      .main-screen__title {
        width: auto;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (max-width: 520px) {
      .main-screen__title {
        font-size: 40px;
        margin-bottom: 40px; } }
  .main-screen__btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 768px) {
      .main-screen__btn-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .main-screen__btn-block-description {
      color: #ffffff;
      font-size: 16px;
      line-height: 26px;
      margin: 0 15px 0 23px;
      margin-bottom: 30px; }
      @media (max-width: 768px) {
        .main-screen__btn-block-description {
          text-align: center; } }
      .main-screen__btn-block-description span {
        font-weight: 700;
        display: block; }
  .main-screen__btn {
    margin-bottom: 30px; }
    @media (max-width: 360px) {
      .main-screen__btn {
        font-size: 20px; } }
  .main-screen__play {
    background-image: url(../images/play.svg);
    width: 124px;
    height: 124px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .main-screen__play:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 10px 16px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .logo-block__item:first-child {
    margin-right: 64px; }
    @media (max-width: 520px) {
      .logo-block__item:first-child {
        margin-right: 30px; } }
  @media (max-width: 768px) {
    .logo-block__item {
      width: 30%; } }
  .logo-block__item img {
    width: 100%; }

.social-icon-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social-icon-block__item {
  margin-right: 43px; }
  .social-icon-block__item:last-child {
    margin-right: 0; }
  @media (max-width: 520px) {
    .social-icon-block__item {
      margin-right: 20px; } }
  .social-icon-block__item i {
    color: #fff;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .social-icon-block__item i:hover {
      color: #f2c54a; }

.purpose {
  background-image: url(../images/white-bg.png);
  position: top;
  margin-top: -200px;
  padding-top: 250px;
  margin-bottom: 60px; }
  .purpose__list {
    width: 1500px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 1500px) {
      .purpose__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%; } }
    @media (max-width: 768px) {
      .purpose__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%; } }
  .purpose-item {
    width: 30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 130px 20px; }
    @media (max-width: 1510px) {
      .purpose-item {
        width: 25%; } }
    @media (max-width: 1200px) {
      .purpose-item {
        width: 50%;
        padding: 130px 80px; } }
    @media (max-width: 900px) {
      .purpose-item {
        padding: 130px 40px; } }
    @media (max-width: 768px) {
      .purpose-item {
        width: 100%;
        padding: 30px; } }
    .purpose-item i {
      font-size: 36px; }
    .purpose-item.active {
      width: 40%;
      padding: 130px 30px 50px 137px;
      background-image: url(../images/mockup-purpose.png);
      background-position: top left;
      background-repeat: no-repeat;
      color: #fff; }
      @media (max-width: 1500px) {
        .purpose-item.active {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          width: 600px; } }
      @media (max-width: 768px) {
        .purpose-item.active {
          width: 100%;
          background-position: center top;
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 30px; } }
      @media (max-width: 440px) {
        .purpose-item.active {
          background-image: none;
          color: #483321;
          padding-top: 30px; } }
      .purpose-item.active .purpose-item__title::after {
        background-color: #fff; }
        @media (max-width: 440px) {
          .purpose-item.active .purpose-item__title::after {
            background-color: #b5c616; } }
    .purpose-item__text-wrap {
      width: 80%; }
      @media (max-width: 768px) {
        .purpose-item__text-wrap {
          width: 385px;
          margin: 0 auto;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding-left: 30px; } }
      @media (max-width: 440px) {
        .purpose-item__text-wrap {
          padding-left: 0px;
          width: 100%; } }
    .purpose-item__title {
      font-family: "Museo Cyrillic -700";
      font-size: 30px;
      position: relative;
      padding-bottom: 26px;
      margin: 20px 0; }
      @media (max-width: 520px) {
        .purpose-item__title {
          font-size: 28px; } }
      .purpose-item__title:after {
        content: '';
        display: block;
        position: absolute;
        width: 52px;
        height: 4px;
        background-color: #b5c616;
        bottom: 0;
        left: 0; }
    .purpose-item__description {
      line-height: 26px;
      margin-bottom: 40px; }
      .purpose-item__description li {
        padding-left: 20px;
        position: relative;
        margin-bottom: 15px; }
        .purpose-item__description li:before {
          content: '';
          width: 4px;
          height: 4px;
          background-color: #fff;
          display: block;
          position: absolute;
          top: 10px;
          left: 0; }
        .purpose-item__description li.green:before {
          background-color: #b5c616; }
    .purpose-item__btn {
      margin: 0 auto;
      display: block;
      text-align: center; }

.steps {
  text-align: center;
  padding-bottom: 100px; }
  @media (max-width: 768px) {
    .steps {
      padding-bottom: 0; } }
  .steps__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .steps__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .steps-item {
    width: 400px;
    border-right: 1px solid #d7d7d7; }
    @media (max-width: 768px) {
      .steps-item {
        border-right: none;
        border-bottom: 1px solid #d7d7d7;
        margin-bottom: 30px; }
        .steps-item:last-child {
          border-bottom: none; } }
    .steps-item:last-child {
      border-right: none; }
    .steps-item__icon {
      margin: 0 auto;
      margin-top: 43px; }
      .steps-item__icon.registration {
        background-image: url(../images/step1.png);
        width: 141px;
        height: 107px; }
      .steps-item__icon.lesson {
        background-image: url(../images/step2.png);
        width: 127px;
        height: 126px; }
      .steps-item__icon.diplom {
        background-image: url(../images/step3.png);
        width: 95px;
        height: 146px; }
    .steps-item__wrap-icon {
      width: 100%;
      height: 235px;
      background-repeat: no-repeat;
      background-position: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .steps-item__wrap-icon.registration {
        background-image: url(../images/step1.svg); }
      .steps-item__wrap-icon.lesson {
        background-image: url(../images/step2.svg); }
      .steps-item__wrap-icon.diplom {
        background-image: url(../images/step3.svg); }
    .steps-item__title {
      font-family: "Museo Cyrillic -700";
      font-size: 27px;
      line-height: 38.81px;
      margin-bottom: 27px; }
    .steps-item__description {
      font-size: 11px;
      line-height: 22px;
      padding-bottom: 30px;
      width: 60%;
      margin: 0 auto; }

.test {
  padding: 30px 10px 30px 10px;
  background-image: url(../images/test-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  @media (max-width: 768px) {
    .test {
      padding: 80px 10px; } }
  .test__wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .test__text {
    padding-top: 90px; }
    @media (max-width: 768px) {
      .test__text {
        padding-top: 0px; } }
  .test__title {
    font-size: 48px;
    font-family: "Museo Cyrillic -700";
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 36px;
    width: 60%; }
    @media (max-width: 1100px) {
      .test__title {
        width: 80%; } }
    @media (max-width: 768px) {
      .test__title {
        font-size: 34px;
        width: 100%; } }
    @media (max-width: 320px) {
      .test__title {
        font-size: 26px; } }
    .test__title:after {
      content: '';
      display: block;
      position: absolute;
      width: 52px;
      height: 4px;
      background-color: #b5c616;
      bottom: 0;
      left: 0; }
  .test__description {
    width: 40%;
    margin-bottom: 60px; }
    @media (max-width: 1100px) {
      .test__description {
        width: 70%; } }
    @media (max-width: 768px) {
      .test__description {
        width: 100%; } }
  .test__btn {
    display: inline-block;
    margin-bottom: 20px; }
  .test__img {
    position: relative;
    bottom: 0px;
    -webkit-box-shadow: 0 5px 16px rgba(242, 197, 74, 0.64);
    box-shadow: 0 5px 16px rgba(242, 197, 74, 0.64);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media (max-width: 768px) {
      .test__img {
        display: none; } }
    .test__img:hover {
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px); }

.film {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
  background-image: url(../images/film-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }
  .film__wrap {
    max-width: 1200px;
    margin: 0 auto; }
  .film-video {
    max-width: 1204px;
    position: relative;
    margin-bottom: 30px; }
    .film-video img {
      width: 100%; }
    .film-video__play {
      width: 146px;
      height: 146px;
      background-image: url(../images/play-film.png);
      background-color: transparent;
      border: none;
      position: absolute;
      top: 50%;
      margin-top: -73px;
      left: 50%;
      margin-left: -73px;
      cursor: pointer;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      @media (max-width: 550px) {
        .film-video__play {
          width: 86px;
          height: 86px;
          -webkit-background-size: 100% 100%;
          background-size: 100%;
          margin-top: -43px;
          margin-left: -43px; } }
      .film-video__play:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }

.numbers {
  background-color: #b5c616;
  color: #fff; }
  .numbers__wrap {
    max-width: 1200px;
    margin: 0 auto; }
  .numbers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      .numbers__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media (max-width: 768px) {
      .numbers__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .numbers__item {
    border-right: 1px solid #fff;
    padding: 50px 50px 40px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media (max-width: 1170px) {
      .numbers__item {
        border-bottom: 1px solid #fff; } }
    @media (max-width: 520px) {
      .numbers__item {
        padding: 30px; } }
    .numbers__item h3 {
      font-size: 40px;
      margin: 0; }
      @media (max-width: 520px) {
        .numbers__item h3 {
          font-size: 34px; } }
      @media (max-width: 320px) {
        .numbers__item h3 {
          font-size: 26px; } }
    .numbers__item span {
      font-size: 58px; }
      @media (max-width: 520px) {
        .numbers__item span {
          font-size: 40px; } }
    .numbers__item p {
      margin: 0; }
    .numbers__item--sum {
      background-image: url(../images/numbers-item-bg.svg);
      background-repeat: no-repeat;
      text-align: center;
      padding-top: 70px; }
      @media (max-width: 520px) {
        .numbers__item--sum {
          padding-top: 40px;
          padding-bottom: 40px; } }
      .numbers__item--sum:hover {
        background-color: #a8b814; }
    .numbers__item--title {
      width: 330px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 920px) {
        .numbers__item--title {
          width: 100%;
          text-align: center; } }

.map {
  width: 100%;
  padding-bottom: 116px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 768px) {
    .map {
      padding-bottom: 50px;
      margin-bottom: 30px; } }
  .map__bg {
    background-image: url(../images/white-bg.png);
    width: 100%;
    height: 250px;
    display: block;
    position: absolute;
    bottom: 100px; }
    @media (max-width: 768px) {
      .map__bg {
        bottom: 0px; } }
    @media (max-width: 690px) {
      .map__bg {
        bottom: 0px;
        background-position-x: -280px; } }
  .map__img {
    width: 100%; }
    .map__img img {
      width: 100%; }
      @media (max-width: 520px) {
        .map__img img {
          width: auto; } }
  .map__girl {
    position: absolute;
    bottom: 85px;
    left: 20%; }
    @media (max-width: 940px) {
      .map__girl {
        width: 300px;
        left: 10%; } }
    @media (max-width: 768px) {
      .map__girl {
        left: 10%;
        width: 200px;
        bottom: 0px; } }
    .map__girl img {
      width: 190px; }

.photo {
  text-align: center;
  margin-bottom: 100px; }
  .photo__link {
    margin-top: 45px;
    display: inline-block;
    font-size: 17px;
    text-decoration: underline; }
    @media (max-width: 320px) {
      .photo__link {
        font-size: 14px; } }
    .photo__link:hover {
      text-decoration: none; }
  .photo .slick-arrow {
    background-image: url(../images/sprite.png);
    background-color: transparent;
    border: none;
    font-size: 0;
    position: absolute;
    bottom: -55px;
    width: 60px;
    height: 13px;
    cursor: pointer; }
  .photo .slick-prev {
    background-position: 0px -13px;
    left: 10%; }
    @media (max-width: 520px) {
      .photo .slick-prev {
        left: 2%; } }
  .photo .slick-next {
    background-position: 0px 0px;
    right: 10%; }
    @media (max-width: 520px) {
      .photo .slick-next {
        right: 2%; } }

.footer {
  background-color: #304e2c; }
  .footer__top {
    max-width: 1200px;
    padding: 37px 10px 30px 10px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #6e836b;
    background-image: url(/images/footer-top_bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: left 28px center; }
    @media (max-width: 1024px) {
      .footer__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .footer__bottom {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0; }
    @media (max-width: 768px) {
      .footer__bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .footer__bottom .logo-block {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
    .footer__bottom .logo-block {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 560px) {
        .footer__bottom .logo-block {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      .footer__bottom .logo-block span {
        color: #ffffff;
        opacity: 0.4;
        font-size: 14px;
        display: block;
        margin-right: 38px; }
        @media (max-width: 560px) {
          .footer__bottom .logo-block span {
            margin-bottom: 20px;
            margin-right: 0; } }
      .footer__bottom .logo-block .logo-block__item {
        margin-right: 40px; }
        @media (max-width: 768px) {
          .footer__bottom .logo-block .logo-block__item {
            width: auto; }
            .footer__bottom .logo-block .logo-block__item img {
              width: auto; } }
        @media (max-width: 560px) {
          .footer__bottom .logo-block .logo-block__item {
            margin-bottom: 20px;
            margin-right: 0; } }
  .footer__logo .logo-block__item:first-child {
    margin-right: 40px; }
  @media (max-width: 1024px) {
    .footer__logo {
      margin-bottom: 40px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 1024px) {
      .footer-contacts {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .footer-contacts__phone {
      color: #fff;
      font-size: 21px;
      margin-bottom: 23px; }
  .footer__text {
    max-width: 351px;
    text-shadow: 0 3px 10px rgba(48, 78, 44, 0.6);
    color: #ffffff;
    font-family: "Museo Cyrillic -700";
    font-size: 24px;
    text-transform: uppercase;
    text-align: center; }
    @media (max-width: 1024px) {
      .footer__text {
        margin-bottom: 30px; } }
  .footer__link {
    color: #a1c93b;
    display: block;
    margin-left: 30px;
    text-decoration: underline;
    font-size: 18px; }
    .footer__link:hover {
      text-decoration: none; }

.copyright {
  color: #ffffff;
  opacity: 0.4;
  font-size: 14px;
  display: block; }
  @media (max-width: 768px) {
    .copyright {
      margin-bottom: 30px; } }
  @media (max-width: 560px) {
    .copyright {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin-bottom: 0;
      margin-top: 10px; } }

/*# sourceMappingURL=main.css.map */
