* {
  padding: 0px;
  margin: 0px;
  outline: 0;
  border: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Krub', sans-serif;
  height: 100%;
  background-color: #272f45;
  padding: 20px 100px;
  box-sizing: border-box; }
  @media only screen and (max-width: 875px) {
    body {
      width: 100%;
      padding: 5px 10px; } }

a {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -wabkit-transition: all 0.5s;
  -o-transition: all 0.5s; }
  a:hover {
    text-decoration: none; }
  a:visited, a:active, a:focus {
    text-decoration: none; }

h1, h2, h3 {
  color: #fff;
  text-transform: uppercase; }

h1 {
  font-size: 80px;
  margin-bottom: 50px; }
  @media only screen and (max-width: 590px) {
    h1 {
      font-size: 60px; } }

h2 {
  font-size: 48px;
  margin-bottom: 26px; }
  @media only screen and (max-width: 590px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-size: 36px; }
  @media only screen and (max-width: 590px) {
    h3 {
      font-size: 20px; } }

.header {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.logo {
  width: 100%; }
  @media only screen and (max-width: 630px) {
    .logo {
      grid-column-end: span 3;
      margin-top: 15px; } }

.search {
  text-align: left;
  border-bottom: 2px solid #63757e;
  min-width: 180px;
  justify-self: end;
  display: flex;
  align-items: flex-end;
  padding-left: 5px; }
  .search__link {
    text-decoration: none;
    color: #63757e;
    font-size: 24px;
    margin-bottom: 8px;
    background-color: #272f45; }
  .search__icon {
    margin-right: 10px; }
  .search input {
    background-color: #272f45;
    height: 40px;
    font-size: 24px;
    color: #63757e; }
    .search input::placeholder {
      color: #63757e; }
    .search input::-moz-placeholder {
      color: #63757e; }
    .search input::-webkit-placeholder {
      color: #63757e; }
  @media only screen and (max-width: 630px) {
    .search {
      display: none; } }

.container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
  padding: 40px 0px; }

.gina {
  background: url(../images/main-photo.jpg) no-repeat;
  background-size: cover;
  grid-column-end: span 6;
  padding: 100px 60px;
  overflow: hidden; }
  .gina .block__btn {
    margin-top: 140px; }

.beoplay {
  background: url(../images/photo1.jpg) no-repeat;
  background-color: #60b8a3;
  background-size: 100%;
  background-position: bottom -85px left -250px;
  grid-column-end: span 3;
  text-align: right;
  padding: 60px 30px;
  overflow: hidden; }
  .beoplay .block__btn {
    margin-top: 60px; }
  @media only screen and (max-width: 590px) {
    .beoplay {
      grid-column-end: span 6; } }

.leica {
  grid-column-end: span 3;
  background: url(../images/photo2.png) no-repeat;
  background-color: #7778c6;
  background-position: bottom -85px right -250px;
  text-align: left;
  padding: 60px 30px;
  overflow: hidden; }
  .leica .block__btn {
    margin-top: 60px; }
  @media only screen and (max-width: 590px) {
    .leica {
      grid-column-end: span 6; } }

.molekule {
  grid-column-end: span 2;
  background: url(../images/photo3.png) no-repeat;
  background-position: center;
  background-position-y: 290px;
  background-color: #e97864;
  text-align: center;
  height: 100%;
  overflow: hidden; }
  .molekule .block {
    margin: 65px 10px 200px 10px; }
  .molekule .block__description {
    font-size: 16px; }
  .molekule .block__btn {
    margin-top: 40px; }
  @media only screen and (max-width: 760px) {
    .molekule {
      grid-column-end: span 3; } }
  @media only screen and (max-width: 590px) {
    .molekule {
      grid-column-end: span 6; } }

.p9 {
  grid-column-end: span 2;
  background: url(../images/photo4.png) no-repeat;
  background-position: center;
  background-position-y: -110px;
  background-size: 70%;
  background-color: #557581;
  text-align: center;
  height: 100%;
  overflow: hidden; }
  .p9 .block {
    margin-top: 215px; }
  .p9 .block__description {
    font-size: 16px; }
  .p9 .block__btn {
    margin-top: 40px;
    margin-bottom: 10px; }
  @media only screen and (max-width: 760px) {
    .p9 {
      grid-column-end: span 3; } }
  @media only screen and (max-width: 590px) {
    .p9 {
      grid-column-end: span 6; } }

.dr {
  grid-column-end: span 2;
  background: url(../images/photo5.png) no-repeat;
  background-position: center;
  background-position-y: 360px;
  background-size: 60%;
  background-color: #82c9d8;
  text-align: center;
  height: 100%;
  overflow: hidden; }
  .dr .block {
    margin: 65px 10px 40px 10px; }
  .dr .block__description {
    font-size: 16px; }
  .dr .block__btn {
    margin-top: 40px; }
  @media only screen and (max-width: 760px) {
    .dr {
      grid-column-end: span 3; } }
  @media only screen and (max-width: 590px) {
    .dr {
      grid-column-end: span 6; } }

.block__description {
  color: #fff;
  font-size: 24px;
  max-width: 440px;
  margin-bottom: 18px;
  line-height: 1.5; }
  @media only screen and (max-width: 590px) {
    .block__description {
      font-size: 18px; } }
.block__btn {
  display: inline-block;
  border: 3px solid #eec9a2;
  padding: 20px;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; }
  .block__btn:hover {
    border: 3px solid #7bb6c3; }

.subscription {
  text-align: center;
  color: #92a1a9;
  margin: 100px 0px; }
  .subscription__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .subscription__title {
    font-size: 35px;
    margin-bottom: 25px; }
    @media only screen and (max-width: 590px) {
      .subscription__title {
        font-size: 26px; } }
  .subscription__description {
    color: #7f919b;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5; }
    @media only screen and (max-width: 590px) {
      .subscription__description {
        font-size: 14px; } }
  .subscription__email {
    border: 3px solid #63757e;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #272f45;
    color: #92a1a9;
    margin: 10px 0px;
    box-sizing: border-box;
    min-width: 265px;
    text-align: center; }
    .subscription__email::placeholder {
      color: #92a1a9;
      text-align: center; }
  .subscription__link {
    display: inline-block;
    border: 3px solid #82c9d8;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: #272f45;
    margin: 10px 0px;
    min-width: 265px;
    cursor: pointer; }
    .subscription__link:hover {
      border: 3px solid #7bb6c3; }

.footer {
  text-align: center;
  margin-bottom: 50px; }

.nav {
  margin: 20px 0px; }
  .nav__item {
    display: inline-block;
    margin-right: 15px;
    position: relative; }
    .nav__item + li:before {
      content: ".";
      font-size: 50px;
      color: #92a1a9;
      position: absolute;
      top: -32px; }
  .nav__link {
    color: #92a1a9;
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px; }
    .nav__link:hover {
      color: #82c9d8; }
    @media only screen and (max-width: 600px) {
      .nav__link {
        font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
