@font-face {
  font-family: 'Muller';
  src: local("Muller Regular"), local("Muller-Regular"), url("../fonts/Muller-Regular.woff") format("woff"), url("../fonts/Muller-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Muller';
  src: local("Muller Bold"), local("Muller-Bold"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

.no-scroll {
  overflow: hidden; }

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 0 28px 0 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
  @media (max-width: 767px) {
    .arrows {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .arrows .dots .slick-dots {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0; }
    .arrows .dots .slick-dots li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 48px;
      width: 7px;
      height: 7px;
      background-color: #ffffff;
      border-radius: 50%;
      opacity: 0.4; }
      @media (max-width: 767px) {
        .arrows .dots .slick-dots li {
          margin-right: 29px;
          width: 6px;
          height: 6px; } }
      .arrows .dots .slick-dots li:last-child {
        margin-right: 0; }
      .arrows .dots .slick-dots li.slick-active {
        opacity: 1; }
    .arrows .dots .slick-dots button {
      border: none;
      font-size: 0;
      line-height: 0;
      padding: 0; }

.arrow {
  width: 16px;
  height: 11px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }
  @media (max-width: 767px) {
    .arrow {
      display: none; } }
  .arrow__prev {
    background-image: url(../images/sprite.svg#arrow-white_left); }
  .arrow__next {
    background-image: url(../images/sprite.svg#arrow-white_right); }

.breadcrumb {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  margin-bottom: 1px; }
  .breadcrumb__item {
    text-decoration: none;
    color: #404040;
    opacity: 0.71;
    font-size: 12px;
    padding: 6px 0 6px 12px;
    display: inline-block; }
    .breadcrumb__item:after {
      content: '>';
      margin-left: 14px;
      display: inline-block; }
    .breadcrumb__item.active {
      pointer-events: none; }
      .breadcrumb__item.active:after {
        display: none; }

.header {
  font-size: 14px; }
  .header__link {
    color: #404040;
    text-decoration: none; }

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc; }
  @media (max-width: 1280px) {
    .header-top {
      padding: 8px 10px; } }
  @media (max-width: 1024px) {
    .header-top {
      display: none; } }
  .header-top__left {
    color: #bd2464; }
    @media (max-width: 1024px) {
      .header-top__left {
        display: none; } }
  .header-top__center {
    text-transform: uppercase;
    font-weight: 700; }
    @media (max-width: 1024px) {
      .header-top__center {
        margin-right: 37px; } }
  .header-top__right {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      .header-top__right {
        display: none; } }

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .header-bottom {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 25px; } }

.header-tablet {
  display: none; }
  @media (max-width: 1024px) {
    .header-tablet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      font-size: 12px; } }
  @media (max-width: 767px) {
    .header-tablet {
      height: 25px;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #f2f2f2;
      padding-top: 8px;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 44px;
      display: block;
      text-align: center; } }
  .header-tablet .header-top__center {
    margin: 0 auto; }
  @media (max-width: 767px) {
    .header-tablet .phone {
      display: none; } }

.logo {
  background-color: #bd2464;
  width: 245px;
  min-width: 200px;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 1024px) {
    .logo {
      background: none;
      height: auto;
      width: auto;
      min-width: 0;
      margin-left: 17px;
      margin-right: 33px; } }
  @media (max-width: 767px) {
    .logo {
      margin-left: 2px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  @media (max-width: 1024px) {
    .logo__img--desc {
      display: none; } }
  .logo__img--tablet {
    display: none; }
    @media (max-width: 1024px) {
      .logo__img--tablet {
        display: block; } }
  .logo__img--mobile {
    display: none; }

.nav-icon {
  width: 46px;
  height: 44px;
  background-color: #bd2464;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
  cursor: pointer; }
  @media (max-width: 1024px) {
    .nav-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      z-index: 200; } }
  @media (max-width: 767px) {
    .nav-icon {
      background-color: transparent; } }
  .nav-icon__line {
    background-color: #fff;
    width: 23px;
    height: 2px;
    margin-bottom: 6px; }
    .nav-icon__line:last-child {
      margin-bottom: 0; }
    @media (max-width: 767px) {
      .nav-icon__line {
        background-color: #a7a7a7;
        width: 15px;
        height: 1px;
        margin-bottom: 4px; } }

.nav {
  margin-left: 100px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  @media (max-width: 1180px) {
    .nav {
      margin-left: 20px; } }
  @media (max-width: 1024px) {
    .nav {
      opacity: 0;
      visibility: hidden;
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      position: fixed;
      background-color: #f5f5f5;
      margin-left: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .nav.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .nav__list {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1024px) {
      .nav__list {
        display: block; } }
  .nav__item {
    margin-right: 25px; }
    @media (max-width: 1024px) {
      .nav__item {
        margin-bottom: 30px;
        text-align: center; } }
  .nav__link {
    color: #404040;
    text-decoration: none;
    white-space: nowrap; }
    .nav__link:hover {
      color: #bd2464; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px; }
  @media (max-width: 1024px) {
    .search {
      margin-right: 0; } }
  .search__input {
    width: 204px;
    border: none;
    background-color: #ffffff;
    color: #404040;
    font-size: 14px;
    padding: 0 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1180px) {
      .search__input {
        width: 140px; } }
    @media (max-width: 1024px) {
      .search__input {
        display: none; } }
  .search__btn {
    width: 46px;
    height: 44px;
    background-color: #bd2464;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; }
    .search__btn:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(../images/sprite.svg#search-white);
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    @media (max-width: 1024px) {
      .search__btn {
        background: none;
        height: auto; }
        .search__btn:before {
          background-image: url(../images/sprite.svg#search-gray); } }
    @media (max-width: 767px) {
      .search__btn {
        width: 12px;
        height: 12px;
        margin-right: 18px; }
        .search__btn:before {
          width: 12px;
          height: 12px; } }

.cart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.heart {
  background-color: #ffffff;
  width: 45px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .heart:before {
    content: '';
    display: block;
    width: 19px;
    height: 16px;
    background-image: url(../images/sprite.svg#heart);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  @media (max-width: 1180px) {
    .heart {
      display: none; } }

.cart {
  background-color: #bd2464;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  padding: 12px; }
  .cart:before {
    content: '';
    display: block;
    margin-right: 5px;
    width: 15px;
    height: 14px;
    background-image: url(../images/sprite.svg#shopping-cart);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  @media (max-width: 1024px) {
    .cart {
      height: 44px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }
  .cart span {
    white-space: nowrap; }
    @media (max-width: 1024px) {
      .cart span {
        display: none; } }

.phone-btn {
  width: 12px;
  height: 12px;
  background-image: url(../images/sprite.svg#phone-gray);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 17px;
  display: none; }
  @media (max-width: 767px) {
    .phone-btn {
      display: block; } }

.footer__title {
  margin-top: auto;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 400; }

.footer__text {
  font-size: 12px;
  line-height: 18px; }

.footer-top {
  background-color: #333333;
  padding: 40px 0;
  color: #fff; }
  @media (max-width: 1024px) {
    .footer-top {
      padding: 0; } }

.footer-column {
  width: 25%;
  border-right: 1px solid #545454;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .footer-column {
      width: 50%;
      border: none;
      padding: 35px 50px; } }
  @media (max-width: 767px) {
    .footer-column {
      width: 100%;
      padding: 30px 30px; } }
  .footer-column:last-child {
    border: none;
    padding-right: 0; }
    @media (max-width: 1024px) {
      .footer-column:last-child {
        padding-right: 50px;
        border-bottom: 1px solid #545454;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1; } }
    @media (max-width: 767px) {
      .footer-column:last-child {
        padding-right: 30px; } }
  .footer-column:first-child {
    padding-left: 0; }
    @media (max-width: 1024px) {
      .footer-column:first-child {
        padding-left: 50px;
        border-bottom: 1px solid #545454;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1; } }
    @media (max-width: 767px) {
      .footer-column:first-child {
        border: none;
        padding-left: 30px; } }

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px; }
  @media (max-width: 1024px) {
    .footer-wrap {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.footer-nav__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-bottom: 15px;
  position: relative; }
  .footer-nav__link:after {
    content: '';
    width: 7px;
    height: 8px;
    display: block;
    background-image: url(../images/sprite.svg#nav-arrow);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0; }
  .footer-nav__link:hover {
    color: #bd2464; }
    .footer-nav__link:hover:after {
      background-image: url(../images/sprite.svg#nav-arrow-pink); }

.footer-bottom {
  background-color: #1c1c1c;
  height: 67px;
  font-size: 12px;
  color: #979797; }
  @media (max-width: 1024px) {
    .footer-bottom {
      padding: 0 50px; } }
  @media (max-width: 767px) {
    .footer-bottom {
      height: auto;
      padding: 23px 30px; } }
  .footer-bottom__wrap {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px; }
    @media (max-width: 767px) {
      .footer-bottom__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 152px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .social-icon {
      margin-bottom: 16px;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }
  .social-icon__link {
    text-decoration: none;
    background-image: url(../images/sprite.png); }
    .social-icon__link.inst {
      background-position: -72px -62px;
      width: 18px;
      height: 18px; }
    .social-icon__link.vk {
      background-position: -51px -45px;
      width: 25px;
      height: 15px; }
    .social-icon__link.fb {
      background-position: -51px -62px;
      width: 19px;
      height: 19px; }

@media (max-width: 767px) {
  .copyright {
    margin-bottom: 16px; } }

@media (max-width: 767px) {
  .dev {
    margin-bottom: 16px; } }

.dev__link {
  text-decoration: none;
  color: #bd2464; }
  .dev__link:hover {
    text-decoration: underline; }

.i-block {
  background-image: url(../images/production_1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  position: relative;
  margin-bottom: 25px; }
  @media (max-width: 768px) {
    .i-block {
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 768px) {
    .i-block {
      margin-bottom: 10px; } }
  .i-block__text-wrap {
    width: 60%;
    padding-right: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(85%, #fff), to(transparent));
    background-image: -webkit-linear-gradient(left, #fff 85%, transparent);
    background-image: -o-linear-gradient(left, #fff 85%, transparent);
    background-image: linear-gradient(to right, #fff 85%, transparent); }
    @media (max-width: 768px) {
      .i-block__text-wrap {
        width: 100%;
        background: rgba(255, 255, 255, 0.7);
        padding-right: 0; } }
  .i-block__text {
    padding: 71px 84px; }
    @media (max-width: 1024px) {
      .i-block__text {
        padding-left: 10px; } }
    @media (max-width: 460px) {
      .i-block__text {
        padding: 50px 10px; } }
  .i-block__title {
    color: #14191f;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 35px; }
    .i-block__title span {
      display: block; }
    @media (max-width: 1024px) {
      .i-block__title {
        font-size: 30px;
        margin-bottom: 25px; } }
    @media (max-width: 460px) {
      .i-block__title {
        font-size: 26px;
        margin-bottom: 22px; } }
  .i-block__description {
    color: #404040;
    font-size: 14px;
    line-height: 21px; }
    @media (max-width: 460px) {
      .i-block__description {
        line-height: 17px; } }
  .i-block__name {
    position: absolute;
    bottom: 35px;
    right: 33px;
    color: #ffffff;
    font-size: 18px;
    text-shadow: 0 3px 6px black; }
    @media (max-width: 1024px) {
      .i-block__name {
        font-size: 14px;
        bottom: 10px;
        right: 10px; } }
    @media (max-width: 768px) {
      .i-block__name {
        display: none; } }

.block-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px; }
  @media (max-width: 440px) {
    .block-photo {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .block-photo__item {
    width: 31.8%; }
    .block-photo__item img {
      width: 100%; }
    @media (max-width: 768px) {
      .block-photo__item {
        width: 33%; } }
    @media (max-width: 440px) {
      .block-photo__item {
        width: 100%;
        padding: 0 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 4px; } }

.print-main {
  background-image: url(../images/print_bg.jpg);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-color: #fff;
  min-height: 395px; }
  @media (max-width: 960px) {
    .print-main {
      min-height: 300px; } }
  .print-main__text-wrap {
    width: 33%;
    padding: 100px 80px; }
    @media (max-width: 1120px) {
      .print-main__text-wrap {
        width: 50%; } }
    @media (max-width: 1024px) {
      .print-main__text-wrap {
        padding: 100px 10px; } }
    @media (max-width: 960px) {
      .print-main__text-wrap {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        height: 300px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (max-width: 560px) {
      .print-main__text-wrap {
        padding-top: 50px; } }
  .print-main__title {
    color: #3f9c41;
    font-size: 36px; }
    @media (max-width: 460px) {
      .print-main__title {
        font-size: 30px; } }

.print-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 100px 0 140px 0;
  background-image: url(../images/print-blocks_bg.png);
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 1260px) {
    .print-blocks {
      padding: 100px 10px 140px 10px; } }
  @media (max-width: 1024px) {
    .print-blocks {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 340px;
      background-position: center bottom; } }
  .print-blocks__item {
    width: 321px; }
    @media (max-width: 1024px) {
      .print-blocks__item {
        margin-bottom: 30px;
        width: 500px; } }
    @media (max-width: 520px) {
      .print-blocks__item {
        width: 100%; } }
  .print-blocks__title {
    color: #3f9c41;
    font-size: 36px;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .print-blocks__title {
        font-size: 30px; } }
    @media (max-width: 460px) {
      .print-blocks__title {
        font-size: 22px;
        margin-bottom: 15px; } }
  .print-blocks__description {
    font-size: 14px;
    line-height: 21px;
    color: #404040; }

.technologies-main {
  height: 395px;
  background-image: url(../images/technologies-main.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 960px) {
    .technologies-main {
      background-position: top right -200px; } }
  @media (max-width: 768px) {
    .technologies-main {
      display: block; } }
  @media (max-width: 460px) {
    .technologies-main {
      height: 300px; } }
  .technologies-main__text-wrap {
    padding: 20px 80px; }
    @media (max-width: 768px) {
      .technologies-main__text-wrap {
        padding: 20px 10px;
        background-color: rgba(255, 255, 255, 0.4);
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .technologies-main__title {
    font-size: 36px;
    text-transform: uppercase;
    color: #14191f;
    font-weight: 700;
    margin-top: 0; }
    @media (max-width: 460px) {
      .technologies-main__title {
        font-size: 30px; } }
    .technologies-main__title span {
      display: block; }

.mechanism {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .mechanism {
      display: block; } }
  .mechanism__img {
    min-width: 600px; }
    @media (max-width: 1024px) {
      .mechanism__img {
        min-width: 400px; } }
    @media (max-width: 768px) {
      .mechanism__img {
        min-width: 0;
        width: 100%; } }
  .mechanism__text-wrap {
    padding: 20px 120px;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      .mechanism__text-wrap {
        padding: 20px 40px; } }
    @media (max-width: 768px) {
      .mechanism__text-wrap {
        width: 100%; } }
  .mechanism__title {
    font-size: 24px; }
    @media (max-width: 460px) {
      .mechanism__title {
        font-size: 20px; } }
  .mechanism__description {
    font-size: 14px; }

.lite-blocks {
  background-color: #fff;
  padding: 40px 0; }
  @media (max-width: 480px) {
    .lite-blocks {
      padding: 10px 0 20px 0; } }
  .lite-blocks__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .lite-blocks__item {
    width: 33%;
    padding: 45px 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6; }
    .lite-blocks__item:nth-child(3n) {
      border-right: none; }
    .lite-blocks__item:nth-child(1), .lite-blocks__item:nth-child(2), .lite-blocks__item:nth-child(3) {
      border-top: none; }
    @media (max-width: 768px) {
      .lite-blocks__item {
        width: 50%; }
        .lite-blocks__item:nth-child(3n) {
          border-right: 1px solid #d6d6d6; }
        .lite-blocks__item:nth-child(3) {
          border-top: 1px solid #d6d6d6; } }
    @media (max-width: 480px) {
      .lite-blocks__item {
        width: 100%;
        border-right: none; }
        .lite-blocks__item:nth-child(2) {
          border-top: 1px solid #d6d6d6; } }
  .lite-blocks__title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 0; }
  .lite-blocks__description {
    font-size: 14px;
    opacity: 0.84; }

.long-advantages {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1260px) {
    .long-advantages {
      padding: 50px 10px; } }
  @media (max-width: 960px) {
    .long-advantages {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .long-advantages__item {
    width: 20%;
    padding-right: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 120px;
    position: relative; }
    @media (max-width: 1260px) {
      .long-advantages__item {
        padding-right: 40px; } }
    @media (max-width: 960px) {
      .long-advantages__item {
        width: 33%;
        margin-bottom: 40px; } }
    @media (max-width: 580px) {
      .long-advantages__item {
        width: 50%; } }
    @media (max-width: 460px) {
      .long-advantages__item {
        width: 100%;
        padding-top: 100px;
        padding-left: 30px; } }
    .long-advantages__item:before {
      content: '';
      display: block;
      background-image: url(../images/sprite-tech.png);
      position: absolute;
      top: 20px; }
    .long-advantages__item:nth-child(1):before {
      background-position: 0px 0px;
      width: 55px;
      height: 55px; }
    .long-advantages__item:nth-child(2):before {
      background-position: -57px 0px;
      width: 52px;
      height: 52px; }
    .long-advantages__item:nth-child(3):before {
      background-position: 0px -57px;
      width: 48px;
      height: 52px; }
    .long-advantages__item:nth-child(4):before {
      background-position: -111px 0px;
      width: 44px;
      height: 49px; }
    .long-advantages__item:nth-child(5):before {
      background-position: -50px -57px;
      width: 48px;
      height: 46px; }
  .long-advantages__title {
    font-size: 18px;
    margin-bottom: 22px;
    margin-top: 0; }
    @media (max-width: 460px) {
      .long-advantages__title {
        margin-bottom: 8px; } }
  .long-advantages__description {
    opacity: 0.79;
    font-size: 12px;
    line-height: 18px; }

::-webkit-input-placeholder {
  opacity: 1;
  font-family: 'Muller', sans-serif; }

::-moz-placeholder {
  opacity: 1;
  font-family: 'Muller', sans-serif; }

:-ms-input-placeholder {
  opacity: 1;
  font-family: 'Muller', sans-serif; }

::-ms-input-placeholder {
  opacity: 1;
  font-family: 'Muller', sans-serif; }

::placeholder {
  opacity: 1;
  font-family: 'Muller', sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Muller', sans-serif;
  color: #404040; }

.container {
  max-width: 1260px;
  margin: 0 auto; }

.main {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px; }
  @media (max-width: 1024px) {
    .main {
      height: 277px; } }
  @media (max-width: 767px) {
    .main {
      display: block;
      height: auto; } }
  .main-left {
    height: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 115px 2px rgba(40, 39, 48, 0.11);
    box-shadow: 0 8px 115px 2px rgba(40, 39, 48, 0.11);
    width: 50%;
    padding: 42px 57px 40px 240px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../images/main-photo.png);
    background-repeat: no-repeat;
    background-position: left 47px bottom; }
    @media (max-width: 1220px) {
      .main-left {
        background-position: left bottom;
        padding: 42px 57px 40px 180px; } }
    @media (max-width: 1180px) {
      .main-left {
        padding: 42px 20px 40px 165px; } }
    @media (max-width: 1024px) {
      .main-left {
        background-image: url(../images/main-photo--tablet.png);
        background-position: left 20px bottom;
        padding: 20px 50px 40px 132px; } }
    @media (max-width: 767px) {
      .main-left {
        width: 100%;
        padding: 20px 10px 40px 110px;
        background-position: left bottom; } }
  .main-right {
    height: 100%;
    width: 50%;
    background-color: #bd2464;
    padding: 42px 28px 40px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../images/main-right_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative; }
    @media (max-width: 1260px) {
      .main-right {
        padding: 42px 15px 40px 20px; } }
    @media (max-width: 1024px) {
      .main-right {
        padding: 28px 15px 28px 33px; } }
    @media (max-width: 767px) {
      .main-right {
        width: 100%;
        padding: 24px 0px 20px 10px;
        height: 277px; } }
  .main__title {
    margin-top: 0;
    font-size: 30px;
    font-weight: 600;
    padding-left: 21px; }
    @media (max-width: 1024px) {
      .main__title {
        font-size: 19px; } }
    @media (max-width: 767px) {
      .main__title {
        padding-left: 15px; } }
  .main__autor {
    color: #bd2464;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 11px;
    display: block;
    padding-left: 21px; }
    @media (max-width: 1024px) {
      .main__autor {
        font-size: 12px;
        margin-bottom: 1px; } }
    @media (max-width: 767px) {
      .main__autor {
        padding-left: 15px; } }
  .main__subtitle {
    color: #555555;
    font-size: 12px;
    padding-left: 21px;
    display: block; }
    @media (max-width: 1024px) {
      .main__subtitle {
        font-size: 8px; } }
    @media (max-width: 767px) {
      .main__subtitle {
        padding-left: 15px; } }

.quote {
  padding: 3px 21px;
  position: relative;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  margin-bottom: 30px; }
  @media (max-width: 1024px) {
    .quote {
      font-size: 10px;
      line-height: normal;
      margin-bottom: 10px; } }
  @media (max-width: 767px) {
    .quote {
      padding: 3px 15px; } }
  .quote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 14px;
    background-image: url(../images/sprite.svg#quote);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center; }
    @media (max-width: 767px) {
      .quote:before {
        width: 11px;
        height: 11px; } }
  .quote__text {
    display: block;
    margin-bottom: 20px;
    position: relative;
    height: 109px;
    overflow: hidden; }
    @media (max-width: 1024px) {
      .quote__text {
        height: 66px;
        margin-bottom: 2px; } }
  .quote__base {
    display: block;
    width: 100%;
    height: 40px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
    background-image: -webkit-linear-gradient(bottom, #fff, transparent);
    background-image: -o-linear-gradient(bottom, #fff, transparent);
    background-image: linear-gradient(to top, #fff, transparent);
    position: absolute;
    bottom: 0;
    left: 0; }

.link {
  color: #bd2464;
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 1px;
  background-image: url(../images/link_bg.png);
  background-repeat: repeat-x;
  background-position: bottom; }
  @media (max-width: 1024px) {
    .link {
      font-size: 10px; } }
  .link:hover {
    background: none; }

.main-slider {
  color: #fff;
  height: 100%; }
  .main-slider__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
  .main-slider__item {
    position: relative;
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    display: none; }
    .main-slider__item:first-child {
      display: block; }
  .main-slider__text {
    height: 330px;
    width: 245px;
    overflow: hidden;
    position: relative;
    padding-bottom: 65px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      .main-slider__text {
        height: 210px;
        width: 158px;
        min-width: 158px; } }
    .main-slider__text ul {
      padding: 0;
      list-style: none;
      margin-bottom: 30px;
      max-width: 184px; }
    .main-slider__text li {
      font-size: 14px;
      margin-bottom: 12px;
      position: relative;
      padding-left: 20px; }
      .main-slider__text li:before {
        content: '';
        width: 6px;
        height: 6px;
        background-image: url(../images/sprite.svg#corner-white);
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        display: block;
        position: absolute;
        left: 0;
        top: 3px; }
      @media (max-width: 1024px) {
        .main-slider__text li {
          font-size: 10px;
          margin-bottom: 11px; } }
      @media (max-width: 767px) {
        .main-slider__text li {
          margin-bottom: 8px; } }
  .main-slider__title {
    color: #ffffff;
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 21px;
    margin-top: 0;
    max-width: 184px; }
    @media (max-width: 1180px) {
      .main-slider__title {
        font-size: 40px;
        line-height: 40px; } }
    @media (max-width: 1024px) {
      .main-slider__title {
        font-size: 31px;
        line-height: 31px;
        margin-bottom: 16px; } }
    @media (max-width: 767px) {
      .main-slider__title {
        margin-bottom: 14px; } }
  .main-slider__price {
    font-size: 30px;
    font-weight: 600;
    color: #261e1c;
    width: 245px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    background-image: url(../images/price_bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    bottom: 0; }
    @media (max-width: 1180px) {
      .main-slider__price {
        font-size: 19px;
        width: 158px;
        height: 39px;
        -webkit-background-size: contain;
        background-size: contain; } }
  @media (max-width: 1024px) {
    .main-slider__img img {
      width: 198px; } }

.goods {
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1024px) {
    .goods {
      padding: 0 10px; } }
  @media (max-width: 767px) {
    .goods {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0; } }
  .goods__item {
    background-color: #fafafa;
    position: relative;
    width: 25%;
    padding: 29px 30px 56px 29px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      .goods__item {
        padding: 18px; } }
    @media (max-width: 767px) {
      .goods__item {
        width: 50%;
        padding: 5px 10px; } }
    .goods__item:hover {
      background-color: #ffffff;
      -webkit-box-shadow: 0 8px 53px 1px rgba(189, 36, 100, 0.11);
      box-shadow: 0 8px 53px 1px rgba(189, 36, 100, 0.11); }
      .goods__item:hover .goods__btn {
        visibility: visible;
        opacity: 1; }
  .goods__title {
    font-size: 24px;
    font-weight: 400;
    width: 50%; }
    @media (max-width: 1024px) {
      .goods__title {
        font-size: 15px; } }
    @media (max-width: 767px) {
      .goods__title {
        font-size: 13px; } }
  .goods__btn {
    width: 70px;
    height: 70px;
    background-color: #bd2464;
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0; }
    .goods__btn:before {
      content: '';
      width: 16px;
      height: 12px;
      background-image: url(../images/sprite.svg#arrow-white_right);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      display: block; }
      @media (max-width: 1024px) {
        .goods__btn:before {
          width: 10px;
          height: 7px; } }
    @media (max-width: 1024px) {
      .goods__btn {
        width: 43px;
        height: 43px; } }
  .goods__img {
    width: 100%;
    height: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 1024px) {
      .goods__img img {
        max-width: 100px; } }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px; }
  @media (max-width: 1024px) {
    .advantages {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding: 0 10px; } }
  .advantages__item {
    width: 227px;
    height: 132px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 15px;
    font-size: 16px;
    background-image: url(../images/mission-block.png);
    -webkit-background-size: cover;
    background-size: cover;
    text-decoration: none;
    color: #404040; }
    @media (max-width: 1024px) {
      .advantages__item {
        margin-bottom: 23px; } }
    @media (max-width: 767px) {
      .advantages__item {
        width: 300px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        position: relative;
        height: 174px;
        margin: 0 auto 23px auto; } }
    .advantages__item:hover {
      background: #fafafa;
      -webkit-box-shadow: 0 8px 53px 1px rgba(189, 36, 100, 0.11);
      box-shadow: 0 8px 53px 1px rgba(189, 36, 100, 0.11); }
    .advantages__item:before {
      content: '';
      display: block;
      margin-right: 17px;
      background-image: url(../images/sprite.png); }
      @media (max-width: 767px) {
        .advantages__item:before {
          position: absolute;
          left: 30px; } }
    .advantages__item.textile:before {
      background-position: 0px -45px;
      width: 49px;
      min-width: 49px;
      height: 36px; }
    .advantages__item.technology:before {
      background-position: -102px 0px;
      width: 38px;
      min-width: 38px;
      height: 38px; }
    .advantages__item.guarantees:before {
      background-position: -102px -40px;
      width: 37px;
      min-width: 37px;
      height: 37px; }
    .advantages__item.payment:before {
      background-position: -57px 0px;
      width: 43px;
      min-width: 43px;
      height: 43px; }
    .advantages__item.delivery:before {
      background-position: 0px 0px;
      width: 55px;
      min-width: 55px;
      height: 43px; }
  @media (max-width: 767px) {
    .advantages__title {
      padding-left: 80px; } }

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 393px;
  margin-bottom: 32px; }
  @media (max-width: 1140px) {
    .mission {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: auto;
      padding: 0 10px; } }
  .mission__left {
    width: 50%;
    padding: 10px 50px 10px 64px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 1140px) {
      .mission__left {
        width: 100%;
        height: 213px;
        padding: 10px;
        text-align: center; } }
    @media (max-width: 767px) {
      .mission__left {
        height: 307px; } }
  .mission__right {
    width: 50%;
    background-image: url(../images/mission.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 40px 48px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 1140px) {
      .mission__right {
        width: 100%;
        height: 247px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 20px; } }
    @media (max-width: 767px) {
      .mission__right {
        display: block;
        height: auto;
        padding-top: 45px;
        padding-bottom: 45px; } }
  .mission__title {
    font-size: 36px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 56px;
    text-transform: uppercase; }
    @media (max-width: 1140px) {
      .mission__title {
        margin-bottom: 29px; } }
    @media (max-width: 767px) {
      .mission__title {
        font-size: 30px; } }
  .mission__description {
    font-size: 16px; }
    @media (max-width: 1024px) {
      .mission__description {
        width: 60%;
        margin: 0 auto; } }
    @media (max-width: 767px) {
      .mission__description {
        width: 90%; } }
  .mission__block {
    background-color: rgba(250, 250, 250, 0.8);
    background-image: url(../images/mission-block.png);
    -webkit-background-size: cover;
    background-size: cover;
    width: 235px;
    height: 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 1024px) {
      .mission__block {
        width: 218px;
        height: 127px; } }
    @media (max-width: 767px) {
      .mission__block {
        margin: 0 auto 9px auto; } }
  .mission__number {
    font-size: 40px;
    margin-bottom: 10px; }
    @media (max-width: 1024px) {
      .mission__number {
        font-size: 37px; } }
    .mission__number sup {
      font-size: 24px; }
      @media (max-width: 1024px) {
        .mission__number sup {
          font-size: 20px; } }

.production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px; }
  @media (max-width: 1024px) {
    .production {
      padding: 0 10px; } }
  @media (max-width: 767px) {
    .production {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .production__item {
    width: 33%;
    height: 424px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; }
    .production__item:hover .production-hover {
      visibility: visible;
      opacity: 1; }
    @media (max-width: 1024px) {
      .production__item {
        height: 258px; } }
    @media (max-width: 767px) {
      .production__item {
        width: 100%;
        height: 330px; } }
  .production__img img {
    opacity: 0.7;
    width: 100%; }
    @media (max-width: 1200px) {
      .production__img img {
        width: auto; } }
    @media (max-width: 767px) {
      .production__img img {
        width: 100%; } }
    @media (max-width: 360px) {
      .production__img img {
        width: auto; } }
  .production__title {
    color: #404040;
    font-size: 30px;
    font-weight: 600;
    z-index: 30;
    position: absolute;
    padding-bottom: 60px;
    padding-left: 57px;
    bottom: 0px;
    left: 0px;
    margin: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
    background-image: -webkit-linear-gradient(bottom, #fff, transparent);
    background-image: -o-linear-gradient(bottom, #fff, transparent);
    background-image: linear-gradient(to top, #fff, transparent);
    width: 100%;
    height: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      .production__title {
        font-size: 18px;
        padding-bottom: 20px;
        padding-left: 30px;
        height: 60px; } }
    @media (max-width: 767px) {
      .production__title {
        font-size: 23px; } }
    .production__title span {
      width: 60%;
      display: block; }
      @media (max-width: 1024px) {
        .production__title span {
          width: 80%; } }

.production-hover {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 44px 83px 44px 53px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (max-width: 1024px) {
    .production-hover {
      padding: 30px; } }
  .production-hover__title {
    font-size: 30px;
    margin-bottom: 32px;
    margin-top: 0; }
    @media (max-width: 1024px) {
      .production-hover__title {
        font-size: 18px;
        margin-bottom: 10px; } }
    @media (max-width: 767px) {
      .production-hover__title {
        font-size: 23px; } }
  .production-hover__text {
    font-size: 14px;
    line-height: 21px; }
    @media (max-width: 1024px) {
      .production-hover__text {
        font-size: 10px;
        line-height: normal; } }
    @media (max-width: 767px) {
      .production-hover__text {
        font-size: 13px; } }
  .production-hover .goods__btn {
    opacity: 1;
    visibility: visible; }

.brand {
  margin-bottom: 50px; }
  @media (max-width: 1024px) {
    .brand {
      padding: 0 10px; } }
  .brand__title {
    color: #404040;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px; }
    @media (max-width: 1024px) {
      .brand__title {
        font-size: 30px; } }
    @media (max-width: 767px) {
      .brand__title {
        display: none; } }
  .brand__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1024px) {
      .brand__list {
        display: block; } }
  .brand__item {
    width: 33%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      .brand__item {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 767px) {
      .brand__item {
        display: block;
        padding: 0; } }
  .brand__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px 0;
    height: 130px; }
    .brand__logo img {
      border: none; }
    @media (max-width: 1024px) {
      .brand__logo {
        margin-right: 30px;
        height: auto;
        width: 220px;
        min-width: 220px; } }
  .brand__text {
    padding: 20px 0;
    font-size: 14px;
    line-height: 21px; }

.news {
  margin-bottom: 70px; }
  @media (max-width: 1260px) {
    .news {
      padding: 0 10px; } }
  .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .news__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .news__title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767px) {
      .news__title-wrap {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline; } }
  .news__title {
    color: #404040;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 45px; }
    @media (max-width: 1024px) {
      .news__title {
        font-size: 29px; } }
  .news__item {
    width: 32%;
    border-bottom: 3px solid #acacac; }
    @media (max-width: 1024px) {
      .news__item {
        border-bottom: 1px solid #acacac; } }
    @media (max-width: 767px) {
      .news__item {
        width: 100%;
        margin-bottom: 20px; } }
  .news__img {
    height: 158px;
    margin-bottom: 16px;
    overflow: hidden; }
    @media (max-width: 1024px) {
      .news__img {
        height: 126px;
        margin-bottom: 13px; } }
    .news__img img {
      width: 100%; }
      @media (max-width: 1024px) {
        .news__img img {
          width: auto; } }
      @media (max-width: 767px) {
        .news__img img {
          width: 100%; } }
  .news-item__title {
    color: #404040;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 21px;
    display: block; }
    @media (max-width: 1024px) {
      .news-item__title {
        font-size: 13px; } }
    .news-item__title:hover {
      color: #bd2464; }

.date {
  color: #bd2464;
  font-size: 14px;
  margin-bottom: 18px; }
  @media (max-width: 1024px) {
    .date {
      font-size: 11px; } }
  @media (max-width: 767px) {
    .date {
      margin-bottom: 13px; } }

/*# sourceMappingURL=main.css.map */
