@font-face {
  font-family: "PFDinTextPro";
  src: url("../css/PFDinTextPro.ttf"); }
* {
  padding: 0px;
  margin: 0px;
  outline: 0;
  border: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: PFDinTextPro; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-left: 20px; }

.main-screen {
  min-height: 100%;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-screen__content {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 1202px;
    text-align: center; }
  .main-screen__title {
    display: inline-block;
    font-size: 48px;
    margin-bottom: 80px;
    margin-top: 20px; }
    @media only screen and (max-width: 480px) {
      .main-screen__title {
        font-size: 36px; } }

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.nav-item {
  width: 360px;
  height: 360px;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(237, 237, 239, 0.5);
  margin-right: 60px;
  margin-bottom: 20px;
  padding: 9px; }
  .nav-item:last-child {
    margin-right: 0px; }
  .nav-item__link {
    border: 1px solid rgba(237, 237, 239, 0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .nav-item__link:hover {
      border: 1px solid #0fb4a7;
      transition: all 700ms; }
      @media only screen and (max-width: 480px) {
        .nav-item__link:hover {
          border: 1px solid rgba(237, 237, 239, 0); } }
    @media only screen and (max-width: 480px) {
      .nav-item__link {
        justify-content: flex-start;
        flex-direction: row;
        text-align: left; } }
  .nav-item__icon {
    margin-bottom: 45px; }
    @media only screen and (max-width: 480px) {
      .nav-item__icon {
        margin-bottom: 0px;
        margin-right: 18px;
        margin-left: 20px; } }
  .nav-item__title {
    font-size: 28px;
    color: #242424; }
  @media only screen and (max-width: 480px) {
    .nav-item {
      border-radius: 0%;
      margin-right: 0px;
      width: 95%;
      height: 100%;
      background-color: #ededef; } }

.tabs {
  border-bottom: 1px solid #c6c6c2; }
  .tabs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none; }
  .tabs__item {
    width: auto;
    padding: 45px 95px;
    border-bottom: 2px solid #f4f6e4; }
    .tabs__item:hover {
      color: #0fb4a7;
      border-bottom: 2px solid #0fb4a7;
      transition: all 700ms; }
      .tabs__item:hover .tabs__link {
        color: #0fb4a7; }
  .tabs__link {
    display: block;
    font-size: 28px;
    color: #2e2e2e; }
  @media only screen and (max-width: 480px) {
    .tabs {
      display: none; } }

.row {
  background-image: url(../images/bg3.jpg);
  background-position: left 40% bottom 65%;
  background-repeat: no-repeat;
  background-size: cover; }

.btn {
  display: inline-block;
  color: #fff;
  background: #009e82;
  padding: 14px 28px;
  border-radius: 5px;
  margin: 15px 0px; }
  .btn:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transition: all 500ms; }

.tab-block {
  display: flex;
  padding: 85px 0px; }

.tab-content {
  width: 50%;
  font-size: 18px;
  color: #1d1d1d; }
  .tab-content__title {
    font-size: 24px;
    padding: 30px 0px;
    color: #171717; }
  .tab-content__list {
    list-style: none; }
  .tab-content__item {
    margin-bottom: 25px; }
  .tab-content__number {
    font-size: 32px;
    color: #00b596;
    margin-right: 20px; }
  @media only screen and (max-width: 1260px) {
    .tab-content {
      width: 100%; } }

.tab-video {
  width: 50%;
  position: relative; }
  @media only screen and (max-width: 1260px) {
    .tab-video {
      display: none; } }

.delay {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s; }

/*# sourceMappingURL=style.css.map */
