@font-face {
font-family: 'Gotham Pro Light';
src: url('GothamPro-Light.eot');
src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'),
url('GothamPro-Light.woff') format('woff'),
url('GothamPro-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Gotham Pro Bold';
src: url('GothamPro-Bold.eot');
src: url('GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
url('GothamPro-Bold.woff') format('woff'),
url('GothamPro-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

* {
	padding: 0px;
	margin: 0px;
	outline: 0;
	border:0;
}
html {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Gotham Pro Light';
	height: 100%;
	color: #000;
	background-color: #e8e8e8;
}
h2 {
	font-size: 36px;
	text-transform: uppercase;
	margin-top: 84px;
	margin-bottom: 25px;
	text-align: center;
}
p {
	font-size: 24px;
}
li {
	list-style-position: inside;
}

.container {
	max-width: 1269px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 5px;
}
.main-screen {
	background-image: url(../images/main-bg.png);
	background-repeat: no-repeat;
	background-position: -140px 0;
	margin-bottom: 129px;
	padding-bottom: 125px;
	&__block {
		display: flex;
		justify-content: flex-end;
	}
	&__text {
		width: 54%;
		text-align: center;
		margin-top: 115px;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	&__title {
		text-align: right;
		font-size: 54px;
		margin-bottom: 88px;
	}
	&__btn {
		margin-top: 17px;
	}
}
.header {
	display: flex;
	justify-content: space-between;
	margin-top: 41px;
	&-contact {
		padding-top: 14px;
		display: flex;
		&__phone {
			font-size: 30px;
			text-decoration: none;
			color: #000000;
		}
		&__icons {
			margin-right: 15px;
		}
	}
} 
.icons {
	&__list {
		display: flex;
	}
	&__item {
		font-size: 36px;
		margin-right: 42px;
		list-style: none;
	}
	&__link {
		color: #000;
	}
}
.cost {
	display: inline-block;
	position: relative;
	margin-bottom: 46px;
	&__old {
		font-family: 'Gotham Pro Bold';
		text-decoration: line-through;
		position: absolute;
		top: -33px;
		left: -30px;
		width: 207px;
		height: 51px;
		color: #161515;
		font-size: 36px;
		font-weight: 700;
		background: url(../images/cost-old-bg.png); 
		padding-top: 8px;
		box-sizing: border-box;
	}
	&__new {
		background: url(../images/offer-bg.png);
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		width: 338px;
		height: 126px;
		padding-top: 24px;
		box-sizing: border-box;
		text-transform: uppercase;
		span {
			font-size: 56px;
			font-weight: 300;
		}
	}
}
.form-v1 {
	display: flex;
	flex-direction: column;
	width: 427px;
	margin-bottom: 20px;
	input {
		border-bottom: 2px solid #34a0ce;
		padding: 11px;
		margin-bottom: 16px;
		font-size: 30px;
		background-color: #e8e8e8;	
		&::-moz-placeholder {
			color: #000000;
		}
		&::-webkit-input-placeholder {
			color: #000000;
		}
	}
}
.form-v2 {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	input {
		border: 1px solid #c8a5d8;
		padding: 11px 20px;
		margin-bottom: 17px;
		font-size: 21px;
		background-color: #ffffff;
		border-radius: 8px;	
		&::-moz-placeholder {
			color: #222222;
		}
		&::-webkit-input-placeholder {
			color: #222222;
		}
	}
}
.btn {
	border-radius: 34px;
	background-color: #ec0053;
	color: #ffffff;
	font-size: 35px;
	font-family: 'Gotham Pro Bold';
	padding: 20px;
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		background-color: #db2263;
	} 
}
.steps {
	&__arrow {
		width: 67px;
		height: 37px;
		background-image: url(../images/arrow.png);
		background-repeat: no-repeat;
		margin: 30px auto 100px auto;
		transition: opacity 0.5s;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	p {
		width: 961px;
		margin: 0 auto;
		text-align: justify;
		margin-bottom: 20px;
	}
	.block {
		&__list {
			padding: 54px 0 44px 0;
			background: url(../images/steps-bg.png);
			background-repeat: no-repeat;
			background-position-y: -32px;
			display: none;
			&.active {
				display: flex;
			}
		}
		&__item {
			width: 263px;
			&__img {
				width: 89px;
			}
			li {
				margin-bottom: 10px;
			}
		}
	}
}
.block {
	&__list {
		display: flex;
		justify-content: center;		
	}
	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 27px 5px 5px 5px;
		box-sizing: border-box;
		background-color: #fff;
		border: 1px solid #bbc5d7;
		border-radius: 10px;
		list-style: none;
		margin-right: 2%;
		&:last-child {
			margin-right: 0px;
		}
		&__img {
			margin-bottom: 24px;
		}
		&__title {
			font-size: 19px;
			font-weight: 700;
			margin-bottom: 17px;
			font-family: 'Gotham Pro Bold';
		}
		&__description {
			ul {
				margin-left: 15px;
			}
			li {
				list-style-type: disc;
				list-style-position: inside;
				color: #222222;
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}
}	
.sites {
	display: none;
	&.active {
		display: block;
	}
	p {
		width: 1134px;
		margin: 0 auto;
	}
	.block__list {
		margin: 46px 0px  37px 0px;
	}
	.block-item {
		width: 357px;
		background-repeat: no-repeat;
		cursor: pointer;
		&:first-child {
			background-image: url(../images/sites-bg1.png);
			background-position: bottom left;
		}
		&:nth-child(2) {
			background-image: url(../images/sites-bg2.png);
			background-position-y: 45px; 
		}
		&:last-child {
			background-image: url(../images/sites-bg3.png);
			background-position: bottom right;
			.check {
				left:14px;
			}
		}
		&__img {
			margin: 15px 0 33px 0;
			position: relative;
			.check {
				position: absolute;
                bottom: 10px;
                display: none;
			}
		}
		li {
			margin-bottom: 30px;
		}
		&.active {
			.check {
				display: block;
			}
		}
	}
}
.options {
	&__container {
		position: relative;
	}
	&__wrapper {
		position: relative;
		opacity: 0; 
		transition: opacity 1s;
		&.active {
			opacity: 1;	
		}
		&--v1 {
			.options__block {
				background-image: url(../images/options-bg.png);
			}	
		}
		&--v2 {
			padding-left: 40%;
			top: 0px;
            position: absolute;
			.options__img {
				left: 0;
			}
			.options__block {
				background-image: url(../images/options2-bg.png);
			}
		}
	}
	&__switch {
		width: 108px;
		height: 49px;
		margin: 30px auto 50px;
		cursor: pointer;
		input {
			display: none;
		}
		label {
			display: inline-block;
			position: relative;
			width: 108px;
			height: 49px;
			box-sizing: border-box;
			border-radius: 45px;
			border: 2px solid #bababa;
			background: #e8e8e8;
			transition: 0.5s;
			cursor: pointer;
			&::before {
				content: '';
			    position: absolute;
			    background: #ec0053;
			    width: 42px; 
			    height: 42px;
			    left: 1px; 
			    top: 1px;
			    transition: 0.5s;
			    border-radius: 20px;
			}
		}
		input:checked + label:before {
			background: #018ea9;
		}
		input:checked + label::before {
    		left: 61px;
   		}
	}
	&__img {
		position: absolute;
		top: 20px;
		right: 0;
		z-index: 1;
	}
	&__block {
		position: relative;
		z-index: 10;
		box-shadow: 0 0 23px rgba(0, 0, 0, 0.24);
		border-radius: 15px;
		background-color: #ffffff;
		width: 779px;
		height: 436px;
		background-repeat: no-repeat;
		text-align: center;
		padding: 55px 40px 10px 40px;
		box-sizing: border-box;
		h2 {
			font-size: 24px;
			margin-top: 0px;
			margin-bottom: 30px;
			font-family: 'Gotham Pro Bold';
		}
		p {
			font-size: 20px;
			margin-bottom: 20px;
		}
	}
}
.action	{
	background-image: url(../images/action-bg.png);
	background-repeat: no-repeat;
	background-position-x: 910px;
    background-position-y: 15px;
    padding-bottom: 100px;
	&__block {
		box-shadow: 1px -1px 19px 2px rgba(0, 0, 0, 0.12);
		border: 1px solid #c8a5d8;
		background-color: #ffffff;
		display: flex;
		justify-content: space-between;
		margin: 85px 46px 30px 46px;
		padding: 30px 50px 50px 300px;
		border-radius: 10px;
	}
	&__content {
		width: 60%;
	}
	&__form {
		width: 37%;
		margin-top: 29px;
	}
	&-content {
		position: relative;
		&__img {
			position: absolute;
			left: -300px;
			top: -91px;
		}
		&__title {
			font-size: 50px;
			font-family: 'Gotham Pro Bold';
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 30px;
			background-image: url(../images/action-title-bg.png);
			background-repeat: no-repeat;
			padding: 11px 2px 9px 48px;
		}
		&__description {
			font-size: 21px;
			p {
				margin-bottom: 30px;
			}
		}
	}
	&__btn {
		font-size: 26px;
		padding: 10px;
		margin-top: 20px;
	}
}
.platforms {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	margin-left: 70px;
	&__title {
		font-size: 56px;
		color: #222222;
		margin-bottom: 30px;
		width: 70%;
		font-family: 'Gotham Pro Bold';
		&--left {
			text-align: left;
			margin-left: 40px;
		}
		&--right {
			align-self: flex-end;
			margin-right: 40px;
		}
	}
	&__list {
		display: flex;
		margin-bottom: 60px;
		&--left {
			margin-left: 40px;
		}
		&--right {
			align-self: flex-end;
			margin-right: 11%;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		margin-right: 61px;
		text-align: center;
		font-size: 24px;
		font-family: 'Gotham Pro Bold';
		color: #222222;
		&:last-child {
			margin-right: 0px;
		}
		img {
			margin-bottom: 18px;
		}
	}

}
.consultation {
	padding: 40px 50px;
	margin-bottom: 30px;
	background-image: url(../images/consultation-bg.png);
	background-repeat: no-repeat;
	background-position-x: center;
    background-position-y: bottom;
	&__block {
		width: 721px;
		height: 456px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
		border-radius: 50px;
		background-color: #ffffff;
		margin: 0 auto;
		padding: 30px 40px 40px;
		box-sizing: border-box;
		text-align: center;
		background-image: url(../images/consultation-block-bg.png);
		background-repeat: no-repeat;
		background-position-x: right;
    	background-position-y: top;
	}
	&__title {
		font-size: 36px;
		color: #0b515e;
		font-family: 'Gotham Pro Bold';
	}
	&__form {
		width: 318px;
		margin: 34px auto;
		input {
			&::-moz-placeholder {
			color: #626262;
			}
			&::-webkit-input-placeholder {
			color: #626262;
			}
		}
	}
}
.service {
	display: flex;
	width: 1274px;
	margin: 150px auto;
	justify-content: space-between;
	&__wrapper {
		position: relative;
		&--right {
			top: 100px;
		}
	}
	&__title {
		font-size: 36px;
		padding: 10px;
		font-family: 'Gotham Pro Bold';
		box-sizing: border-box;
		text-align: center;
		&--top {
			width: 421px;
			color: #ec0053;
			border-bottom: 1px dashed #ec0053;
			position: absolute;
    		left: 507px;
		}
		&--bottom {
			width: 677px;
			color: #018ea9;
			border-top: 1px dashed #018ea9;
			position: absolute;
    		right: 507px;
    		bottom: 0px;
		}
	}
	&__block {
		width: 507px;
		background-color: #ffffff;
		border-radius: 30px;
		padding: 30px;
		font-size: 24px;
		box-sizing: border-box;
		li {
			margin-bottom: 25px;
		}
		&--left {
			border: 1px dashed #ec0053;
		}
		&--right {
			border: 1px dashed #018ea9;
		}
	}
}
.result {
	display: flex;
	&__block {
		padding: 160px 50px 160px 50px;
		background-image: url(../images/result-block-bg.png);
		background-repeat: no-repeat;
		background-position-x: -90px;
	}
	&__title {
		font-size: 36px;
		margin-bottom: 60px;
		font-family: 'Gotham Pro Bold';
	}
	&__description {
		font-size: 30px;
		margin: 0 auto 20px;
		width: 545px;
	}
	&__cost {
		font-size: 60px;
		color: #ffffff;
		background-image: url(../images/result-cost-bg.png);
		background-repeat: no-repeat;
		text-align: center;
		padding: 14px;
	}
	&__form {
		margin-top: 230px;
		padding: 0 15px 40px 10px;
		background-image: url(../images/result-form-bg.png);
		background-repeat: no-repeat;
		background-position-y: bottom;
	}
}
.footer-logo {
	margin-top: 130px;
	margin-bottom: -98px;
}
.footer {
	background-color: #018ea9;
	display: flex;
	justify-content: space-between;
	padding: 0px 50px;
	color: #ffffff;
	&__icons {
		margin: 30px 22px 58px;
		.icons__link {
			color: #ffffff;
		}	
	}
	&__phone {
		margin: 30px 0 15px;
		color: #ffffff;
		font-size: 36px;
		display: inline-block;
		text-decoration: none;
	}
	&__name {
		font-size: 30px;
		margin-bottom: 45px;
		font-family: 'Gotham Pro Bold';
	}
	&-right {
		&__text {
			font-style: italic;
			width: 65%;
			p {
				font-size: 18px;
			}
			.yellow {
				color: #ffee36;
			}
			p {
				margin-bottom: 17px;
			}
		}
	}
	&-left {
		&__text {
			font-size: 30px;
			margin-bottom: 5px;
		}
	}
}
.information {
	margin: 0px 0px 100px 0px;
	display: none;
	&.active {
		display: block;
	}
	h3 {
		font-size: 36px;
		margin-bottom: 33px;
		font-family: 'Gotham Pro Bold';
	}
	p {
		font-size: 24px;
		margin-bottom: 20px;
	}
	&__left {
		margin-bottom: 30px;
	}
	&__right {
		text-align: right;
	}
}